{% extends "student/partials/main.html" %}
{% load static %}
{% block customcss %}
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}

{% block maincontent %}
<h2 class="header-title">Campus Charters</h2>
<p class="card-title-desc">Your guide for the processes</p>
<div class="col">
    <button type="button" class="btn btn-info dropdown-toggle mb-2" data-bs-toggle="dropdown">
        Sort Category
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="getCharter()">
            All
        </a>
        <a class="dropdown-item" onclick="getCharterCategory('Student Support')">
            Student Support
        </a>
        <a class="dropdown-item" onclick="getCharterCategory('Medical Services')">
            Medical Services
        </a>
        <a class="dropdown-item" onclick="getCharterCategory('Student ID Issuance')">
            Student ID Issuance
        </a>
        <a class="dropdown-item" onclick="getCharterCategory('Financial Aid and Scholarship')">
            Financial Aid and Scholarship
        </a>
        <a class="dropdown-item" onclick="getCharterCategory('Others')">
            Others
        </a>
    </div>
</div>
<div class="row justify-content-md-center mt-3 mb-3">
    <div class="col-lg-6">
        <input type="text" class="form-control mb-2" id="charter_Keyword" placeholder="Search Charter by entering Keywords" required/>
    </div>
    <div class="col-md-auto">
        <button onclick="searchCharter()" class="btn btn-primary btn-md mb-2" id="charter_Search">Search</button>
    </div>
</div>
<h3 id="search_results" class="text-center"></h3>
<h3 id="no_Charter" class="text-center"></h3>
<div class="row" id="charter_display">
</div>
{% endblock %}

{% block customjs %}
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/Charters/charters.ajax.js' %}"></script>
{% endblock %} 