{% extends "student/partials/main.html" %}
{% load static%}
{% block customcss %}
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}

{% block maincontent %}
{% include "student/StudentCareers/modal/internship-modal.html" %} 
<h2 class="header-title">Internship Opportunities</h2>
<p class="card-title-desc">Find any Internships that you are interested in.</p>

<div class="col-md-3 mt-2">
    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Select Category
        </button>
        <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('')">All</a></li>
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('Information Technology')">Information Technology</a></li>
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('Marketing')">Marketing</a></li>
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('Entrepreneurship')">Entrepreneurship</a></li>
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('Public Administration')">Public Administration</a></li>
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('DOMT')">DOMT</a></li>
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('BTLED-ICT')">BTLED-ICT</a></li>
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('Human Resource Management')">Human Resource Management</a></li>
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('BTLED-HE')">BTLED-HE</a></li>
        </ul>
    </div>
</div>


<div class="tab-content p-3">
    <div class="tab-pane active" id="intern-tab" role="tabpanel">
        <h2 class="text-center" id="no_intern">There are no Internship Opportunities.</h2>
        <div class="row" id="intern_display">
        </div>
        <h3 class="header-title" id="no_intern_archive"></h3>
        <div class="row" id="intern_archive_display">
        </div>
    </div>
</div>
{% endblock %}

{% block customjs %}
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/StudentCareers/internship.ajax.js' %}"></script>
{% endblock %}