{% extends "student/partials/main.html" %}
{% load static%}
{% block customcss %}
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}

{% block maincontent %}
{% include "student/StudentCareers/modal/internship-modal.html" %} 
<h2 class="header-title">Internship Opportunities</h2>
<p class="card-title-desc">Find any Internships that you are interested in.</p>
{% comment %} <div class="col">
    <a href="{% url 'careers' %}"><button type="button" class="btn btn-primary waves-effect waves-light mb-2">Back</button></a>
</div> {% endcomment %}

{% comment %} <ul class="nav nav-tabs nav-fill" data-bs-toggle="tabs" role="tablist">
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link active" data-bs-toggle="tab" href="#jobpost-tab" role="tab" aria-selected="false">
            Job Posts
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link" data-bs-toggle="tab" href="#intern-tab" role="tab" aria-selected="false">
            Internship Opportunity
        </a>
    </li>
</ul> {% endcomment %}

{% comment %} <div class="tab-content p-3">
    <div class="tab-pane active" id="jobpost-tab" role="tabpanel">
        <label>Category<span class="text-danger">*</span></label>
    <select class="form-select" id="job_category" onchange="getJobCategory(this.value)" required>
        <option value="All">All</option>
        <option value="Information Technology">Information Technology</option>
        <option value="Marketing">Marketing</option>
        <option value="Entrepreneurship">Entrepreneurship</option>
        <option value="Public Administration">Public Administration</option>
        <option value="DOMT">DOMT</option>
        <option value="BTLED-ICT">BTLED-ICT</option>
        <option value="HRM">Human Resource Management</option>
        <option value="BTLED-HE">BTLED-HE</option>
    </select>
        <h2 class="text-center" id="no_job">There are no Job Posts.</h2>
        <div class="row" id="job_post_display">
        </div>
        <h3 class="header-title" id="no_job_archive"></h3>
        <div class="row" id="job_archive_display">
        </div>
    </div> {% endcomment %}

    <div class="col-md-3 mt-2">
        <label>Category<span class="text-danger">*</span></label>
        <select class="form-select" id="job_category" onchange="getJobCategory(this.value)" required>
            <option value="">All</option>
            <option value="Information Technology">Information Technology</option>
            <option value="Marketing">Marketing</option>
            <option value="Entrepreneurship">Entrepreneurship</option>
            <option value="Public Administration">Public Administration</option>
            <option value="DOMT">DOMT</option>
            <option value="BTLED-ICT">BTLED-ICT</option>
            <option value="HRM">Human Resource Management</option>
            <option value="BTLED-HE">BTLED-HE</option>
        </select>
    </div>
    

    <div class="tab-pane active" id="intern-tab" role="tabpanel">
        <h2 class="text-center" id="no_intern">There are no Internship Opportunities.</h2>
        <div class="row" id="intern_display">
        </div>
        <h3 class="header-title" id="no_intern_archive"></h3>
        <div class="row" id="intern_archive_display">
        </div>
    </div>
    <h3 id="no_Job" class="text-center"></h3>
</div>
{% endblock %}

{% block customjs %}
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/chatbot/chatbot.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/StudentCareers/internship.ajax.js' %}"></script>
{% endblock %} 