{% extends "admin/partials/main.html" %}
{% load static %}
{% block customcss %}
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/responsive.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/buttons.dataTables.min.css' %}">
{% endblock %}

{% block maincontent %}
<h2 class="header-title">List of Tickets</h2>
<table id="all-datatable" class="table row-border table-bordered hover responsive nowrap" style="width: 100%;">
    <thead>
        <tr>
            <th class="dt-head-center">Ticket Number</th>
            <th class="dt-head-center">Subject</th>
            <th class="dt-head-center">Requester</th>
            <th class="dt-head-center">Priority</th>
            <th class="dt-head-center">Office</th>
            <th class="dt-head-center">Status</th>
            <th class="dt-head-center">Date Created</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
{% endblock %}

{% block customjs %}
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/admin/Ticket/ticket.ajax.js' %}"></script>
{% endblock %} 