{% extends "admin/partials/main.html" %}
{% load static %}
{% block customcss %}
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
<link href="{% static 'assets/libs/flatpickr/flatpickr.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/dataTables.dataTables.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/responsive.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/buttons.dataTables.min.css' %}">
{% endblock %}

{% block maincontent %}
<h2 class="header-title">List of Tickets</h2>
<div class="card mb-2">
    <div class="container">
        <form id="TicketSortForm" class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="ticket_status" class="form-label">Ticket Status</label>
                    <select class="form-select" id="ticket_status">
                        <option value="">All</option>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="ticket_priority" class="form-label">Ticket Priority</label>
                    <select class="form-select" id="ticket_priority">
                        <option value="">All</option>
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                        <option value="Urgent">Urgent</option>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="ticket_type" class="form-label">Ticket Type</label>
                    <select class="form-select" id="ticket_type">
                        <option value="">All</option>
                        <option value="Commodation">Commodation</option>
                        <option value="Concern">Concern</option>
                        <option value="Complaint">Complaint</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="ticket_office" class="form-label">Ticket Office</label>
                    <select class="form-select" id="ticket_office">
                        <option value="">All</option>
                        <option value="Director's Office">Director's Office</option>
                        <option value="Academic Office">Academic Office</option>
                        <option value="Student Affairs and Service Office">Student Affairs and Service Office</option>
                        <option value="Registrar's Office">Registrar's Office</option>
                        <option value="Admission Office">Admission Office</option>
                        <option value="Cash and Disbursing Office">Cash and Disbursing Office</option>
                        <option value="Accounting Office">Accounting Office</option>
                        <option value="Quality Assurance Center and OJT Office">Quality Assurance Center and OJT Office</option>
                        <option value="IT Laboratory Office">IT Laboratory Office</option>
                        <option value="Medical Clinic">Medical Clinic</option>
                        <option value="Administrative Office">Administrative Office</option>
                        <option value="Property Office">Property Office</option>
                        <option value="Records' Office">Records' Office</option>
                        <option value="Cultural Office">Cultural Office</option>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="start_date" class="form-label">Start Date</label>
                    <input type="date" class="form-control" id="start_date">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="end_date" class="form-label">End Date</label>
                    <input type="date" class="form-control" id="end_date">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <button class="btn btn-primary" id="apply_Sort" onclick="getSorted()" type="button">Apply Sorting</button>
                </div>
            </div>
        </form>
    </div>
</div>

<table id="all-datatable" class="table row-border table-bordered hover responsive nowrap" style="width: 100%;">
    <thead>
        <tr>
            <th class="dt-head-center">Ticket Number</th>
            <th class="dt-head-center">Subject</th>
            <th class="dt-head-center">Requester</th>
            <th class="dt-head-center">Priority</th>
            <th class="dt-head-center">Office</th>
            <th class="dt-head-center">Status</th>
            <th class="dt-head-center">Date Created</th>
            <th class="dt-head-center">Resolve Date</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
{% endblock %}

{% block customjs %}
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/libs/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/jszip.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/vfs_font.js' %}"></script>
<script src="{% static 'assets/js/ajax/admin/Ticket/ticket.ajax.js' %}"></script>
{% endblock %} 