
{% load static %}

{% block css %}
<!-- App favicon -->
<link rel="shortcut icon" href="{% static 'assets/images/PUPLogo.png' %}">

<!-- Bootstrap Css -->
<link href="{% static 'assets/css/dashboard/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="{% static 'assets/css/dashboard/icons.min.css' %}" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.7.95/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="{% static 'assets/css/dashboard/app.min.css' %}" rel="stylesheet" type="text/css" />

<link href="{% static 'assets/css/dashboard/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/dashboard/datatables/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/dashboard/datatables/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

</head>

{% endblock %}