{% extends "student\partials\main.html" %}
{% load static %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}

{% block maincontent %}
<h4 class="header-title">Welcome, Student Name</h4>
<p class="card-title-desc">This is PUPQC Helpdesk, how can I assist you?</p>
<h4 class="header-title">Notifications</h4>
<h3 class="text-center" id="no-notif"></h3>
<div id="notif-event"></div>
    </div>
</div>


{% endblock %}

{% block customjs %}
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/dashboard.ajax.js' %}"></script>
{% endblock %}