{% extends "student\partials\main.html" %}
{% load static %}

{% block customcss %}
<link href="{% static 'assets/css/pages/sweetalert2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block maincontent %}
<h2 class="header-title">Your Profile</h2>
<p class="card-title-desc">Edit your profile.</p>
<div class="card">
    <div class="card-body">
        <form class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="validationCustom01">Student Program<span class="text-danger">*</span></label></label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Student Program" required/>
                    <div class="valid-feedback">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Last Name<span class="text-danger">*</span></label></label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Last Name" required/>
                    <div class="valid-feedback">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">First Name<span class="text-danger">*</span></label></label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="First Name" required/>
                    <div class="valid-feedback">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Middle Name<span class="text-danger">*</span></label></label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Middle Name" required/>
                    <div class="valid-feedback">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Gender<span class="text-danger">*</span></label></label>
                    <input type="text" class="form-control" id="student_age" placeholder="Age" minlength="2" maxlength="2" required/>
                    <div class="valid-feedback">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Contact Number<span class="text-danger">*</span></label></label>
                    <input type="text" class="form-control" id="student_contact" minlength="11" maxlength="11" placeholder="Contact Number" required/>
                    <div class="valid-feedback">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Email Address<span class="text-danger">*</span></label></label>
                    <input type="email" class="form-control" id="validationCustom01" placeholder="Email Address" required/>
                    <div class="valid-feedback">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3"></div>
                    <button class="col-md-12 mb-3 btn btn-primary" type="submit"">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block customjs %}
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/js/pages/bootstrap-maxlength.js' %}"></script>
<script src="{% static 'assets/js/pages/sweetalert2.all.min.js' %}"></script>
<script>
$('input#student_age').maxlength({
    alwaysShow: true,
    warningClass: "badge badge-danger",
    limitReachedClass: "badge badge-success",
});
$('input#student_contact').maxlength({
    alwaysShow: true,
    warningClass: "badge badge-danger",
    limitReachedClass: "badge badge-success",
});

Swal.fire({
  title: 'Error!',
  text: 'Do you want to continue',
  icon: 'success',
  allowEnterKey: 'false',
  allowOutsideClick: 'false',
  allowEscapeKey: 'false',
  confirmButtonText: 'Cool',
  showCancelButton: 'true'
})


</script>

{% endblock%}