{% extends "student\partials\main.html" %}
{% load static %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}
{% block maincontent %}

<h2 class="header-title">Your Profile</h2>
<p class="card-title-desc">View your profile.</p>
<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-3">Student Info</h5>
        <div class="row">
            <h5 class="card-title">Student Name: <span class="text-muted" id="student_Name"></span></h5>
            <h5 class="card-title">Program: <span class="text-muted" id="student_Program"></span></h5>
            <h5 class="card-title">Contact: <span class="text-muted" id="student_Contact"></span></h5>
            <h5 class="card-title">Email: <span class="text-muted" id="student_Email"></span></h5>
            <h5 class="card-title">Gender: <span class="text-muted" id="student_Gender"></span></h5>
        </div>   
    </div><!-- end card body -->
</div>

{% endblock %}
{% block customjs %}
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/profile.ajax.js' %}"></script>
{% endblock %}