{% extends "student/partials/main2.html" %}
{% load static %}
{% block customcss %}
<link href="{% static 'assets/libs/filepond/filepond.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/responsive.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/buttons.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/star-rating/dists/star-rating.min.css' %}"/>
{% endblock %}

{% block maincontent %}
{% include "student/Ticket/modal/ticket-modal.html" %}
<div class="container">
<h2 class="header-title pt-3">Satisfaction Form</h2>
<form>
<div class="card-title-desc ">

    <div class="col-form-label">Type of Client <span style="color: red;">*</span>
        <div class="col-9 pt-3">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Client" id="Current Student" value="Current Student">
        <label class="form-check-label" for="Current Student">Current Student</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Client" id="Alumni" value="Alumni">
        <label class="form-check-label" for="Alumni">Alumni</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Client" id="" value="Cross-Enrollee" >
        <label class="form-check-label" for="Cross-Enrollee">Cross-Enrollee</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Client" id="Transferee"  value="Transferee" >
        <label class="form-check-label" for="Transferee">Transferee</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Client" id="Student Applicant"  value="Student Applicant" >
        <label class="form-check-label" for="Student Applicant">Student Applicant</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Client" id="Faculty/Administrative Employee"  value="Faculty/Administrative Employee" >
        <label class="form-check-label" for="Faculty/Administrative Employee">Faculty/Administrative Employee</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Client" id="Guest/General Public"  value="Guest/General Public" >
        <label class="form-check-label" for="Guest/General Public">Guest/General Public</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Client" id="Parent of Student"  value="Parent of Student" >
        <label class="form-check-label" for="Parent of Student">Parent of Student</label>
      </div>
    </div>
    </div>
    
    <div class="col-form-label">Sex <span style="color: red;">*</span>
        <div class="col-12 pt-3">
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="Gender" type="radio" value="Male">
        <label class="form-check-label" for="Male">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="Gender" type="radio" value="Female">
        <label class="form-check-label" for="Female">Female</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="Gender" type="radio" value="Prefer not to say" >
        <label class="form-check-label" for="Prefer not to say">Prefer not to say</label>
      </div>
    </div>
    </div>

    <div class="col-form-label">A. Responsiveness: The willingness to help, assist, and provide prompt service to citizens/clients<span style="color: red;">*</span>
        <div class="col-12 pt-3">
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="5 - Excellent">
        <label class="form-check-label" for="5 - Excellent">5 - Excellent</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="4 - Good">
        <label class="form-check-label" for="4 - Good">4 - Good </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="3 - Average" >
        <label class="form-check-label" for="3 - Average">3 - Average</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="2 - Fair" >
        <label class="form-check-label" for="2 - Fair">2 - Fair</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="1 - Poor" >
        <label class="form-check-label" for="1 - Poor">1 - Poor</label>
      </div>
    </div>
    </div>

    <div class="col-form-label">B. Reliability(Quality): Provision of what was promised with zero to a minimal error<span style="color: red;">*</span>
        <div class="col-12 pt-3">
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="5 - Excellent">
        <label class="form-check-label" for="5 - Excellent">5 - Excellent</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="4 - Good ">
        <label class="form-check-label" for="4 - Good ">4 - Good </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="3 - Average" >
        <label class="form-check-label" for="3 - Average">3 - Average</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="2 - Fair" >
        <label class="form-check-label" for="2 - Fair">2 - Fair</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="1 - Poor" >
        <label class="form-check-label" for="1 - Poor">1 - Poor</label>
      </div>
    </div>
    </div>

    <div class="col-form-label">C. Access & Facilities: The convenience of location, ample amenities for comfortable transactions<span style="color: red;">*</span>
        <div class="col-12 pt-3">
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="5 - Excellent">
        <label class="form-check-label" for="5 - Excellent">5 - Excellent</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="4 - Good ">
        <label class="form-check-label" for="4 - Good ">4 - Good </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="3 - Average" >
        <label class="form-check-label" for="3 - Average">3 - Average</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="2 - Fair" >
        <label class="form-check-label" for="2 - Fair">2 - Fair</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="1 - Poor" >
        <label class="form-check-label" for="1 - Poor">1 - Poor</label>
      </div>
    </div>
    </div>

    <div class="col-form-label">D. Communication: The act of keeping clients informed in a language they can easily understand<span style="color: red;">*</span>
        <div class="col-12 pt-3">
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="5 - Excellent">
        <label class="form-check-label" for="5 - Excellent">5 - Excellent</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="4 - Good ">
        <label class="form-check-label" for="4 - Good ">4 - Good </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="3 - Average" >
        <label class="form-check-label" for="3 - Average">3 - Average</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="2 - Fair" >
        <label class="form-check-label" for="2 - Fair">2 - Fair</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="1 - Poor" >
        <label class="form-check-label" for="1 - Poor">1 - Poor</label>
      </div>
    </div>
    </div>

    <div class="col-form-label">E. Costs: The satisfaction with timeliness of the billing, billing process/es<span style="color: red;">*</span>
        <div class="col-12 pt-3">
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="5 - Excellent">
        <label class="form-check-label" for="5 - Excellent">5 - Excellent</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="4 - Good ">
        <label class="form-check-label" for="4 - Good">4 - Good </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="3 - Average" >
        <label class="form-check-label" for="3 - Average">3 - Average</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="2 - Fair" >
        <label class="form-check-label" for="2 - Fair">2 - Fair</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="1 - Poor" >
        <label class="form-check-label" for="1 - Poor">1 - Poor</label>
      </div>
    </div>
    </div>

    <div class="col-form-label">F. Integrity: Assurance that there is honesty, justice, fairness, and trust in service<span style="color: red;">*</span>
        <div class="col-12 pt-3">
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="5 - Excellent">
        <label class="form-check-label" for="5 - Excellent">5 - Excellent</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="4 - Good">
        <label class="form-check-label" for="4 - Good">4 - Good</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="3 - Average" >
        <label class="form-check-label" for="3 - Average">3 - Average</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="2 - Fair" >
        <label class="form-check-label" for="2 - Fair">2 - Fair</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="1 - Poor" >
        <label class="form-check-label" for="1 - Poor">1 - Poor</label>
      </div>
    </div>
    </div>

    <div class="col-form-label">G. Assurance: The capability of frontline staff to perform their duties<span style="color: red;">*</span>
        <div class="col-12 pt-3">
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="5 - Excellent">
        <label class="form-check-label" for="5 - Excellent">5 - Excellent</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="4 - Good">
        <label class="form-check-label" for="4 - Good">4 - Good</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="3 - Average" >
        <label class="form-check-label" for="3 - Average">3 - Average</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="2 - Fair" >
        <label class="form-check-label" for="2 - Fair">2 - Fair</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="1 - Poor" >
        <label class="form-check-label" for="1 - Poor">1 - Poor</label>
      </div>
    </div>
    </div>

    <div class="col-form-label">H. Outcome: Extent of achieving outcomes or realizing the intended benefits of government services<span style="color: red;">*</span>
        <div class="col-12 pt-3">
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="5 - Excellent">
        <label class="form-check-label" for="5 - Excellent">5 - Excellent</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="4 - Good">
        <label class="form-check-label" for="4 - Good">4 - Good</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="3 - Average" >
        <label class="form-check-label" for="3 - Average">3 - Average</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="2 - Fair" >
        <label class="form-check-label" for="2 - Fair">2 - Fair</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="satisfaction" type="radio" value="1 - Poor" >
        <label class="form-check-label" for="1 - Poor">1 - Poor</label>
      </div>
    </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-2">
            <label for="validationCustom01">Rating<span class="text-danger">*</span></label>
            <select class="star-rating" id="ticket_Rating" required>
                <option value="">Select a rating</option>
                <option value="5">Excellent</option>
                <option value="4">Good</option>
                <option value="3">Average</option>
                <option value="2">Fair</option>
                <option value="1">Poor</option>
            </select>
        </div>
        <div class="col-md-12 mt-2">
            <label for="validationCustom01">Remarks<span class="text-primary"> (Optional)</span></label>
            <textarea class="form-control" maxlength="99" id="ticket_Remarks" rows="5" placeholder="Remarks"></textarea>
        </div>
    </div>
    
    <div class="modal-footer gap-3 pt-3">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"/>Submit Rating</button>
    </div>
</div>
</form>
</div>

{% endblock %}

{% block customjs %}
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/libs/star-rating/dists/star-rating.min.js' %}"></script>
<script src="{% static 'assets/libs/filepond/filepond.js' %}"></script>
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/pages/bootstrap-maxlength.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/buttons.print.min.js' %}"></script>
{% endblock %} 