{% load static %}
    <body data-topbar="colored" data-layout="horizontal" data-layout-size="boxed">

        <!-- Begin page -->
        <div id="layout-wrapper">

            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="container-fluid">
                        <div class="float-right">

                            <div class="dropdown d-inline-block">
                                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="rounded-circle header-profile-user" src="{% static 'assets/images/boy.jpg' %}" alt="Header Avatar">
                                    <span class="d-none d-sm-inline-block ml-1">Name</span>
                                    <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a class="dropdown-item" href="{% url 'admin/profile' %}"><i class="mdi mdi-face-profile font-size-16 align-middle mr-1"></i> Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"><i class="mdi mdi-logout font-size-16 align-middle mr-1"></i> Logout</a>
                                </div>
                            </div>
                        </div>

                        <!-- LOGO -->
                        <div class="navbar-brand-box">
                            <a href="{% url 'admin/dashboard' %}" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="{% static 'assets/images/logo/PUPQC_Helpdesk_Logo.png' %}" alt="" height="60">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'assets/images/logo/PUPQC_Helpdesk_Logo.png' %}" alt="" height="60">
                                </span>
                            </a>

                            <a href="{% url 'admin/dashboard' %}" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="{% static 'assets/images/logo/PUPQC_Helpdesk_Logo.png' %}" alt="" height="60">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'assets/images/logo/PUPQC_Helpdesk_Logo.png' %}" alt="" height="60">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm mr-2 font-size-24 d-lg-none header-item waves-effect waves-light" data-toggle="collapse" data-target="#topnav-menu-content">
                            <i class="mdi mdi-backburger"></i>
                        </button>