{% load static %}
{% include "admin\partials\opening.html" %}
{% include "admin\partials\pagecss.html" %}
{% block customcss %} <!--imported css-->
{% endblock %}
{% include "admin\partials\header.html" %}
{% include "admin\partials\navbar.html" %}
{% include "admin\partials\pagetitle.html" %}
{% include "admin\partials\opencontent.html" %}
{% block maincontent %} <!--Page Content-->
{% endblock %}
{% include "admin\partials\closecontent.html" %}
{% include "admin\partials\footer.html" %}
{% include "admin\partials\pagejs.html" %}
{% block customjs %} <!--imported scripts-->
{% endblock %}
{% include "admin\partials\closing.html" %}
