

<div class="topnav">
    <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

        <div class="collapse navbar-collapse" id="topnav-menu-content">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admindashboard' %}">
                        Dashboard
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        General Information <div class="arrow-down"></div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="topnav-components">
                        <div class="dropdown">
                            <a class="dropdown-item dropdown-toggle arrow-none" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="d-inline-block icons-sm mr-2"><i class="uim uim-exclamation-octagon"></i></div> Campus Information
                                <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="topnav-email">
                                <a href="{% url 'generalinfo/facilities' %}" class="dropdown-item">Facilities</a>
                                <a href="{% url 'generalinfo/services' %}" class="dropdown-item">Service</a>
                                <a href="{% url 'generalinfo/resources' %}" class="dropdown-item">Resources</a>
                            </div>
                        </div>

                        <a href="{% url 'generalinfo/events' %}" class="dropdown-item">
                            <div class="d-inline-block icons-sm mr-2"><i class="uim uim-schedule"></i></div> Events</a>

                        <a href="{% url 'generalinfo/referrals' %}" class="dropdown-item">
                            <div class="d-inline-block icons-sm mr-2"><i class="uim uim-comment-plus"></i></div> Service Referrals</a>

                    </div>
                </li>


            <!-----FEEDBACKS----->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Feedbacks/Suggestions <div class="arrow-down"></div>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="topnav-components">

                        <a href="{% url 'adminfeedbacks/feedbacks' %}" class="dropdown-item">
                            <div class="d-inline-block icons-sm mr-2"></div> Feedbacks</a>

                        <a href="{% url 'adminfeedbacks/suggestions' %}" class="dropdown-item">
                            <div class="d-inline-block icons-sm mr-2"></div> Suggestions</a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
</div>
</div>


</header>