{% load static %}        
        <script src="{% static 'assets/js/dashboard/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/dashboard/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/dashboard/metisMenu.min.js' %}"></script>
        <script src="{% static 'assets/js/dashboard/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/js/dashboard/waves.min.js' %}"></script>
        <script src="{% static 'assets/libs/fontawesome-6.4.2/js/all.min.js' %}"></script>
        <script src="{% static 'assets/libs/unicons-monochrome-2.0.1/bundle.js' %}"></script>
        <script src="{% static 'assets/js/dashboard/app.js' %}"></script>