        <div class="page-wrapper">
            <div class="container-xl">
                <div class="row align-items-center mb-1">
                    <div class="col">
                        <div class="mb-1">
                            <ol class="breadcrumb" aria-label="breadcrumbs">
                            <li class="breadcrumb-item text-primary">PUPQC Helpdesk</li>
                            <li class="breadcrumb-item active" aria-current="page">Administrator</li>
                            </ol>
                        </div>
                        <h2 class="page-title">
                            <span class="text-truncate">{{ pagename }}</span>
                        </h2>
                    </div>
                </div>