{% extends "admin\partials\main.html" %}
{% load static %}

{% block maincontent %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h4 class="header-title">PUPQC Events</h4>
<p class="card-title-desc">The upcoming events in PUPQC Campus.</p>

<section id="card-container">
<div class="row">
    <div class="col-xl-4">
        <div class="card" id="card-1">
            <img class="card-img-top img-fluid" src="{% static 'assets/images/PUPMain.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title font-size-16 mt-0 text-center" contenteditable="false" id="title-1">Event Title</h4>
                <p class="card-text" contenteditable="false" id="description-1">This is event description</p>
                <p class="card-text text-center">
                    <small class="text-dark" id=date contenteditable="false">October 1, 2023</small>
                </p>
                <button class="editBtn" id="editBtn-1">Edit</button>
                <button class="delBtn" id="delBtn-1">Delete</button>
            </div>
        </div>
    </div>

    <div class="col-xl-4">
        <div class="card" id="card-2">
            <img class="card-img-top img-fluid" src="{% static 'assets/images/PUPMain.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title font-size-16 mt-0 text-center" contenteditable="false" id="title-2">Event Title</h4>
                <p class="card-text" contenteditable="false" id="description-2">This is event description</p>
                <p class="card-text text-center">
                    <small class="text-dark" id=date contenteditable="false">October 5, 2023</small>
                </p>
                <button class="editBtn" id="editBtn-2">Edit</button>
                <button class="delBtn" id="delBtn-2">Delete</button>
            </div>
        </div>
    </div>

    <div class="col-xl-4">
        <div class="card" id="card-3">
            <img class="card-img-top img-fluid" src="{% static 'assets/images/PUPMain.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title font-size-16 mt-0 text-center" contenteditable="false" id="title-3">Event Title</h4>
                <p class="card-text" contenteditable="false" id="description-3">This is event description</p>
                <p class="card-text text-center">
                    <small class="text-dark" id=date contenteditable="false">October 13, 2023</small>
                </p>
                <button class="editBtn" id="editBtn-3">Edit</button>
                <button class="delBtn" id="delBtn-3">Delete</button>
            </div>
        </div>
    </div>
</div>
</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
     

        // Edit
        $(document).on("click", ".editBtn", function () {
            const card = $(this).closest(".card");
            const cardId = card.attr("id").split("-")[1];
            card.find(`#title-${cardId}, #date-${cardId}, #description-${cardId}`).attr("contenteditable", true);
            card.find("img").removeAttr("style");
            card.find("label").css("border", "2px dashed #ccc");
            $(this).replaceWith(`<button class='saveBtn' id='saveBtn-${cardId}'>Save</button>`);
        });

        // Save
        $(document).on("click", ".saveBtn", function () {
            const card = $(this).closest(".card");
            const cardId = card.attr("id").split("-")[1];
            card.find(`#title-${cardId}, #description-${cardId}`).attr("contenteditable", false);
            card.find("img").css("display", "none");
            card.find("label").css("border", "none");
            $(this).replaceWith(`<button class='editBtn' id='editBtn-${cardId}'>Edit</button>`);
        });

        // Change pic
        $(document).on("change", "input.image-upload", function () {
            const card = $(this).closest(".card");
            const cardId = card.attr("id").split("-")[1];
            const imageDisplay = card.find("img");
            const fileInput = $(this)[0];
            const file = fileInput.files[0];

            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    imageDisplay.attr("src", e.target.result);
                };
                reader.readAsDataURL(file);
            }
        });

        // Delete
        $(document).on("click", ".delBtn", function () {
            const card = $(this).closest(".card");
            const cardId = card.attr("id").split("-")[1];
            $(`#card-${cardId}`).remove();
        });
    });
</script>
{% endblock %}
