@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,500&display=swap');



:root{
    --primary: #FBC257;
    --primary-light: #f5d497;
    --dark-brown: #341413;
    --gray-1: #798092;
    --gray-2: #E6E6ED;
    --white: #ffffff;
    --blue: #2980b9;


    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;

    --text-medium: 10px;
    --text-regular: 16px;
    --text-light: 13px;

    --font-weight: bold;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
}

body{
    font-family: 'poppins', sans-serif;
    background: url('gold.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar-nav .nav-link {
    color: #333; 
    transition: color 0.3s ease; 
    font-weight: bold;
    
}

a.nav-link{
    margin-right: 39px;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    
}

.navbar{
    background-color: #FFFFF0;
    z-index: 100;
    padding: 48px 0;
}
.navbar-nav .nav-link:hover {
    color: #800000; 
}

#srchbtn{
    padding: 10px 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 13px;
    font-weight: var(--font-weight-medium);
}

#srchbtn {
    background: linear-gradient(to right, #FFD700, #800000);
    border: none;
    font-weight: bold;
    color: #FFFFFF;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#srchbtn:hover {
    background: linear-gradient(to right, #800000, #FFD700);
}

#searchbar{
    width: 100px;
    transition: 0.5s;
    font-weight: bold;
}

#searchbar:hover{
    width: 300px;
}

.logo{
    height: 50px;
    width: 130px;
}

.rotateable {
    transition: transform 0.3s ease; 
  }
  
  .rotated {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

#button {
    background-color: var(--primary);
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
}


#button:hover {
    background-color: #FFA500; 
    color: #FFFFFF; 
}



.container {
    position: relative;
    width: 100%; 
    height: 100vh;
  
}



section.ABOUTUS{
    margin: 5rem 0;

}

.text-label,
.text-hero-bold,
.text-hero-regular{
    margin: 24px 0;
}

.text-label{
    color: var(--primary);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}

.text-hero-bold{
    color: var(--dark-brown);
    font-size: var(--header-1);
    font-weight: var(--font-weight-bold);
    line-height: 74px;
}

.text-hero-regular{
    color: var(--gray-1);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}

.smol {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    margin-left: 700px;
    margin-top: -300px;
}





  
  .about {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .text {
    text-align: center;
    color: #ffffff;
  }
  
  .text h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .text h5 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .text p {
    font-size: 18px;
    line-height: 1.6;
  }


@media (min-width: 1399px){
   
    .container{
        width: 84%;
    }
    

    
    
}
@media (max-width: 1106px){
    body{
        overflow-x: hidden;
    }
    .smol {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100vh;
        margin-left: 500px;
        margin-top: -300px;
        
}
}

@media (max-width: 576px){
    body{
        overflow-x: hidden;
    }
    .navbar{
        background-color: #FFFFF0;
        z-index: 100;
        padding: 28px 0;
    }

    a.nav-link{
        margin-right: 7px 0;
    }

    section.ABOUTUS{
        margin: 2rem 0;
        text-align: center;

    }

    #button{
        display: block;
        margin: 1rem 0;
    }

    .ms-3{
        margin-left: 0 !important;
    }

    .text-label,
.text-hero-bold,
.text-hero-regular{
    text-align: center;
}

.text-hero-bold{
    font-weight: var(--font-weight-bold);
    font-size: var(--header-3);
    line-height: 64px;
}

section.ABOUTUS img{
    margin: 2rem 0;
}
.smol {
    margin: 0 auto; 
    margin-top: 8px; 
}

}


@media (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .navbar{
        background-color: #FFFFF0;
        z-index: 100;
        padding: 28px 0;
    }

    a.nav-link{
        margin-right: 7px 0;
    }

    section.ABOUTUS{
        margin: 1rem 0;
        text-align: center;

    }

    .text-hero-bold{
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }
    
    section.ABOUTUS img{
        margin: 2rem 0;
    }
    .smol {
        margin: 0 auto; 
        margin-top: 8px; 
    }

}


@media (max-width: 992px){
    body{
        overflow-x: hidden;
    }
    .navbar{
        background-color: #FFFFF0;
        z-index: 100;
        padding: 28px 0;
    }

    a.nav-link{
        margin-right: 7px 0;
    }

    section.ABOUTUS{
        margin: 1rem 0;
        text-align: center;

    }

    .text-hero-bold{
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }
    
    section.ABOUTUS img{
        margin: 2rem 0;
    }
}