{% load static %}

{% block customcss %}
<style>

#modal-body{
    top: 0;
    left: 13%;
    tranform: translate(-50px, -50px);
}

.Card{
    overflow: hidden;
    border-radius: 15px solid #000;
}

.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-Right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: 80px;
}

.main-text{
    padding: 30px 0;
    text-align: center;
}

.main-text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
}

.main-text ul{
    font-size: 16px;
    padding: 0 35px;
    list-style: none;
}

</style>
{% endblock %}

<body>
<div class="modal fade" id="viewModal" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">Applicant Details</h5>
            </div>
            <form id="RegForm" class="needs-validation" novalidate>

            <div class="modal-body" id="modal-body">

                    <div class="row">
                        <div class="col-md-9">
                            <div class="Card">
                                <div class="img2"><img src="{%static 'assets/images/2x2.jpg'%}" alt="img2"></div>
                                    <div class="main-text">
                                        <h2>Name: Loyd Marion Lopez</h2>
                                        <ul>
                                            <li>Student Number: 2020-00001-CM-0</li>
                                            <li>Email: loyd@gmail.com</li>
                                            <li>Program: BSIT</li>
                                            <li>Date of Birth: October 09, 2001</li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                    </div>
            </div>
        


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    
</div>

<!-----User 2---->
<div class="modal fade" id="viewModal2" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">Applicant Details</h5>
            </div>
            <form id="RegForm" class="needs-validation" novalidate>

            <div class="modal-body" id="modal-body">

                    <div class="row">
                        <div class="col-md-9">
                            <div class="Card">
                                <div class="img2"><img src="{%static 'assets/images/altiche.jpg'%}" alt="img2"></div>
                                    <div class="main-text">
                                        <h2>Name: Christian Altiche</h2>
                                        <ul>
                                            <li>Student Number: 2020-00002-CM-0</li>
                                            <li>Email: altiche@gmail.com</li>
                                            <li>Program: BSIT</li>
                                            <li>Date of Birth: January 21, 1999</li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                    </div>
            </div>
        


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    
</div>



<!-----User 3---->

<div class="modal fade" id="viewModal3" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">Applicant Details</h5>
            </div>
            <form id="RegForm" class="needs-validation" novalidate>

            <div class="modal-body" id="modal-body">

                    <div class="row">
                        <div class="col-md-9">
                            <div class="Card">
                                <div class="img2"><img src="{%static 'assets/images/leslie.jpg'%}" alt="img2"></div>
                                    <div class="main-text">
                                        <h2>Name: Leslie Felipe</h2>
                                        <ul>
                                            <li>Student Number: 2020-00003-CM-0</li>
                                            <li>Email: leslie@gmail.com</li>
                                            <li>Program: BSIT</li>
                                            <li>Date of Birth: March 15, 2002</li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                    </div>
            </div>
        


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    
</div>
<!----User 4---->
<div class="modal fade" id="viewModal4" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">Applicant Details</h5>
            </div>
            <form id="RegForm" class="needs-validation" novalidate>

            <div class="modal-body" id="modal-body">

                    <div class="row">
                        <div class="col-md-9">
                            <div class="Card">
                                <div class="img2"><img src="{%static 'assets/images/charles.jpg'%}" alt="img2"></div>
                                    <div class="main-text">
                                        <h2>Name: Charles Sicangco</h2>
                                        <ul>
                                            <li>Student Number: 2020-00004-CM-0</li>
                                            <li>Email: charles@gmail.com</li>
                                            <li>Program: BSIT</li>
                                            <li>Date of Birth: April 11, 2001</li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                    </div>
            </div>
        


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    
</div>
</body>