{% extends "student/partials/main.html" %}
{% load static %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet">
{% endblock %}
{% block maincontent %}
<h2 class="header-title">Topic Information</h2>
</div>
</div>
<div class="row row-cards">
    <div class="col-lg-8">
        <div class="card card-sm">
            <div class="card-body">
                <div class="col">
                    <h2 class="header-title" id="topic_Name"></h2>
                    <div class="card mb-2">
                    </div>
                    <div class="card">
                        <div class="container">
                            <div id="topic_Content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h3 class="header-title">Additional Information</h3>
                <div class="col-md-12 mb-2">
                    <h3 class="header-title">Date Created</h3>
                    <h4 id="get_Date_Created"></h4>
                </div>
                <div class="col-md-12 mb-2">
                    <h3 class="header-title">Last Modified</h3>
                    <h4 id="get_Last_Modified"></h4>
                </div>
                <div class="card mb-2"></div>
                <div class="row justify-content-center" id="LikeResponse">
                    <div class="col-12 mb-2">
                        <h3 class="header-title text-center">Did you find it helpful?</h3>
                    </div>
                    <div class="col-sm-4 col-6 mb-2 text-center">
                        <button class="btn btn-outline-success btn-block" onclick="handleYesClick()">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-thumb-up" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3" />
                            </svg>
                            Yes
                        </button>
                    </div>
                    <div class="col-sm-4 col-6 mb-2 text-center">
                        <button class="btn btn-outline-danger btn-block" onclick="handleNoClick()">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-thumb-down" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M7 13v-8a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v7a1 1 0 0 0 1 1h3a4 4 0 0 1 4 4v1a2 2 0 0 0 4 0v-5h3a2 2 0 0 0 2 -2l-1 -5a2 3 0 0 0 -2 -2h-7a3 3 0 0 0 -3 3" />
                            </svg>
                            No
                        </button>
                    </div>
                </div>                                     
            </div>
        </div>
    </div>    
</div>
{% endblock %}
{% block customjs %}
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/libs/showdownjs/showdown.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/knowledgebase/view.ajax.js' %}"></script>
{% endblock %}