{% extends "student\partials\main.html" %}
{% load static %}
{% block customcss %}

<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
<link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
<link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />

{% endblock %}
{% block maincontent %}

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">

                <!-- Card 1 -->
                <div class="card">
                    <img class="card-img-top img-fluid" src="{% static 'assets/images/Campus.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title font-size-16 mt-0">Item Name</h4>
                        <p class="card-text">Description of the Item.</p>
                        <a href="#" class="btn btn-primary waves-effect waves-light">Button</a>
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <!-- Card 2 -->
                <div class="card">
                    <img class="card-img-top img-fluid" src="{% static 'assets/images/Campus.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title font-size-16 mt-0">Item Name</h4>
                        <p class="card-text">Description of the Item.</p>
                        <a href="#" class="btn btn-primary waves-effect waves-light">Button</a>
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <!-- Card 3 -->
                <div class="card">
                    <img class="card-img-top img-fluid" src="{% static 'assets/images/Campus.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title font-size-16 mt-0">Item Name</h4>
                        <p class="card-text">Description of the item.</p>
                        <a href="#" class="btn btn-primary waves-effect waves-light">Button</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block customjs %}





{% endblock %}
