{% extends "student\partials\main.html" %}
{% load static %}
{% block maincontent %}
<link href="{% static 'assets/css/studentCareers/careers.css' %}" rel="stylesheet">

<h4 class="header-title">Career Services and Employement</h4>
<p class="card-title-desc">This will guide students to choose their careers.</p>
   <div class="container">
    
    <div class="box">
      <div class="icon">01</div>
      <div class="content"><h3>Career Counseling Referrals</h3>
        <p>lorem ipsum dolor</p>
        <a href="{% url 'careers/referrals' %}">Referrals</a>
      </div>
    </div>

    <div class="box">
      <div class="icon">02</div>
      <div class="content"><h3>Internship Posting</h3>
        <p>lorem ipsum dolor</p>
        <a href="{% url 'careers/internship' %}">Job Postings and Internship</a>
      </div>
    </div>

    <footer>
        <!-- Footer content -->
    </footer>

{% endblock %}

