{% extends "student\partials\main.html" %}
{% load static %}
{% block maincontent %}
<link href="{% static 'assets/css/studentCareers/referrals.css' %}" rel="stylesheet">

<body>

    <div class="bread-crumbs" >
      
        <ul>
          <li>
            
            <a class="home" href="{% url 'careers' %}" style=" text-decoration: underline;">Career Services and Employment</a>
          </li>
    
          
          <li>
            <a href="#" style="font-weight: bold;"></i>Career Counseling Referrals</a>
          </li>
    
          
          
        </ul>
      </div>




<div class="container">
    <h1>Career Counseling Referrals</h1>
    <p>Here are some reputable career counseling services that can provide you with expert guidance:</p>
    
    <div class="referral-links">
        <div class="referral-link">
            <a href="https://www.examplecareercounseling.com" target="_blank">Career Counseling Center</a>
            <p>Visit our recommended career counseling center to receive personalized career advice and support.</p>
        </div>
        
        <div class="referral-link">
            <a href="https://www.careeradvisors.com" target="_blank">Career Advisors</a>
            <p>Connect with experienced career advisors who can help you explore your career options and set goals.</p>
        </div>
        
        <div class="referral-link">
            <a href="https://www.careercoaches.org" target="_blank">Certified Career Coaches</a>
            <p>Hire certified career coaches to assist you in making informed career decisions and developing your career path.</p>
        </div>
        
        <div class="referral-link">
            <a href="https://www.findyourcareerpathway.com" target="_blank">Career Pathway Services</a>
            <p>Discover a range of career pathway services to identify your strengths and interests for a successful career.</p>
        </div>
    </div>
</div>
</body>
{% endblock %}