{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Links Bootstraps -->
        <link rel="stylesheet" href="{% static 'assets/css/dashboard/tabler.min.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'assets/css/dashboard/tabler-flags.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'assets/css/dashboard/tabler-vendors.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'assets/css/dashboard/tabler-payments.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="{% static 'assets/images/PUPLogo.png' %}">
        <title>Unauthorized</title>
        <style>
            @import url('https://rsms.me/inter/inter.css');
            :root {
                --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
            }
            body {
                font-feature-settings: "cv03", "cv04", "cv11";
            }
          </style>
    </head>

    <body  class=" border-top-wide border-primary d-flex flex-column">
        <div class="page page-center">
          <div class="container-tight py-4">
            <div class="empty">
                <img src="{% static 'assets/images/http-response/401.png' %}" alt="" class="img-fluid mx-auto d-block">
              <p class="empty-title">Unauthorized</p>
              <p class="empty-subtitle text-secondary">
                You are unauthorized to view this page.
              </p>
              <div class="empty-action">
                <a href="javascript:history.back()" class="btn btn-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
                  Go Back
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- end Account pages -->
    </body>
</html>