{% extends "student\partials\main.html" %}
{% load static %}
{% block customcss %}

<link href="{% static 'assets/css/student/HousingAndAccomodation/housing.css' %}" rel="stylesheet">
{% endblock %}
{% block maincontent %}
<h4 class="header-title">Housing and Accommodation</h4>
<p class="card-title-desc">This will guide students for their Check-in for Housing</p>

<body>
        <!-- Content -->
<div class="content p-0">
    <div class="container-fluid">
        <div class="row">

                    <!-- Map -->
<div class="col-xl-5 col-sm-12 grid-map">
    <div id="map" class="map-listing">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15437.761221554623!2d121.09082175!3d14.68767475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sph!4v1700541631441!5m2!1sen!2sph" width="90%" height="1600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
                    <!-- /Map -->

                    <!-- Rent -->
<div class="col-xl-7 col-sm-12 no-map map-content">
                        <!-- Sidebar -->
    <div class="advanced-search">
    <h3>Advanced Search</h3>
        <div class="row">
            <div class="col-lg-12">
                <div class="review-form form-wrap ">
                    <input type="text" class="form-control" placeholder="Location">
                        <span class="form-icon">
                            <i class="bx bx-map"></i>
                                </span>
                            </div>
                        </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="review-form form-wrap ">
                        <select class="select form-control">
                        <option>Categories</option>
                        <option>Apartments</option>
                        <option>Condos </option>
                        <option>Houses </option>
                    </select>
                </div>
            </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="review-form form-wrap ">
                                        <select class="select form-control">
                                            <option>Bedrooms</option>
                                            <option>4 Bedrooms</option>
                                            <option>2 Bedrooms </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="review-form form-wrap ">
                                        <select class="select form-control">
                                            <option>Bathrooms</option>
                                            <option>1 Bathrooms</option>
                                            <option>2 Bathrooms </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="review-form form-wrap ">
                                        <input type="text" class="form-control" placeholder="Min Sqft">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="review-form form-wrap ">
                                        <input type="text" class="form-control" placeholder="Min Price">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="review-form form-wrap ">
                                        <input type="text" class="form-control" placeholder="Max Price">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="review-form form-wrap ">
                                        <select class="select form-control">
                                            <option>Reviews</option>
                                            <option>1 Review</option>
                                            <option>2 Review</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="review-form form-wrap ">
                                        <input type="text" class="form-control" placeholder="Amenities">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="review-form-btn">
                                        <a href="#" class="btn btn-primary">Apply Filter</a>
                                        <a href="#" class="reset-btn">Reset Selection</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Sidebar -->

                        <div class="feature-property-sec for-rent rent-grid p-0 bg-white">
                            <div class="row ">

                                <!-- Rent Grid -->
                                <div class="col-lg-6 col-12 d-flex">
                                    <div class="product-custom flex-fill">
                                        <div class="profile-widget">
                                            <div class="doc-img">
                                                <a href="#" class="property-img">
                                                    <img class="img-fluid" alt="Product image" src="{% static 'assets\css\PUPmain.jpg' %}">
                                                </a>
                                                <div class="product-amount">
                                                    <h5><span>PHP 2,200 </span> / night</h5>
                                                </div>
                                                <div class="featured">
                                                    <span>Featured</span>
                                                </div>
                                                <div class="new-featured">
                                                    <span>New</span>
                                                </div>
                                                <a href="javascript:void(0)">
                                                    <div class="favourite">
                                                        <span><i class="fa-regular fa-heart"></i></span>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="pro-content">
                                                <div class="rating">
                                                    <i class="fa fa-star checked"></i>
                                                    <i class="fa fa-star checked"></i>
                                                    <i class="fa fa-star checked"></i>
                                                    <i class="fa fa-star checked"></i>
                                                    <i class="fa fa-star checked"></i>
                                                    Excellent
                                                </div>
                                                <h3 class="title">
                                                    <a href="rent-details.html"  tabindex="-1">Condo Room</a> 
                                                </h3>
                                                <p><i class="feather-map-pin"></i> Commonwealth, Quezon City</p>
                                                <ul class="d-flex details">
                                                    <li>
                                                        <img src="{% static 'assets\images\icon\bed-icon.svg' %}" alt="bed-icon" >
                                                        2 Beds
                                                    </li>
                                                    <li>
                                                        <img src="{% static 'assets\images\icon\bath-icon.svg' %}" alt="bath-icon">
                                                        2 Baths
                                                    </li>
                                                    <li>
                                                        <img src="{% static 'assets\images\icon\building-icon.svg' %}" alt="building-icon">
                                                        13000 Sqft
                                                    </li>
                                                </ul>
                                                <ul class="property-category d-flex justify-content-between align-items-center">
                                                    <li class="user-info">
                                                        <a href="#"><img src="{% static 'assets\css\PUPmain.jpg' %}" class="img-fluid avatar" alt=""></a>
                                                        <div class="user-name">
                                                            <a href="#">Loyd Lopez</a>
                                                            <p>Don Fabian</p>
                                                        </div>													
                                                    </li>
                                                    <li>
                                                         <a href="#" class="btn-primary">Book</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>		
                                    </div>
                                </div>
                                <!-- /Rent Grid -->

                                <!-- Rent Grid -->
                                <div class="col-lg-6 col-12 d-flex">
                                    <div class="product-custom flex-fill">
                                        <div class="profile-widget">
                                            <div class="doc-img">
                                                <a href="#" class="property-img">
                                                    <img class="img-fluid" alt="Product image" src="{% static 'assets\css\PUPmain.jpg' %}">
                                                </a>
                                                <div class="product-amount">
                                                    <h5><span>PHP 1,500 </span> / night</h5>
                                                </div>
                                                <div class="featured">
                                                    <span>Featured</span>
                                                </div>
                                                <a href="javascript:void(0)">
                                                    <div class="favourite">
                                                        <span><i class="fa-regular fa-heart"></i></span>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="pro-content">
                                                <div class="rating">
                                                    <i class="fa fa-star checked"></i>
                                                    <i class="fa fa-star checked"></i>
                                                    <i class="fa fa-star checked"></i>
                                                    <i class="fa fa-star checked"></i>
                                                    <i class="fa fa-star checked"></i>
                                                    Excellent
                                                </div>
                                                <h3 class="title">
                                                    <a href="#" tabindex="-1">Apartment</a> 
                                                </h3>
                                                <p><i class="feather-map-pin"></i> Commonwealth, Quezon City</p>
                                                <ul class="d-flex details">
                                                    <li>
                                                        <img src="{% static 'assets\images\icon\bed-icon.svg' %}" alt="bed-icon" >
                                                        3 Beds
                                                    </li>
                                                    <li>
                                                        <img src="{% static 'assets\images\icon\bath-icon.svg' %}" alt="bath-icon">
                                                        4 Baths
                                                    </li>
                                                    <li>
                                                        <img src="{% static 'assets\images\icon\building-icon.svg' %}" alt="building-icon">
                                                        9000 Sqft
                                                    </li>
                                                </ul>
                                                <ul class="property-category d-flex justify-content-between align-items-center">
                                                    <li class="user-info">
                                                        <a href="#"><img src="{% static 'assets\css\PUPmain.jpg' %}" class="img-fluid avatar" alt=""></a>
                                                        <div class="user-name">
                                                            <a href="#">Christian Altiche</a>
                                                            <p>Bacer</p>
                                                        </div>													
                                                    </li>
                                                    <li>
                                                         <a href="#" class="btn-primary">Book</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>		
                                    </div>
                               </div>
                               <!-- /Rent Grid -->



                                <!-- Pagination -->
                                <div class="col-lg-12"> 
                                    <div class="grid-pagination grid-pagination-map">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item prev">
                                                <a class="page-link" href="#"><i class="fa-solid fa-arrow-left"></i> Prev</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">1</a>
                                            </li>
                                            <li class="page-item active">
                                                <a class="page-link" href="#">2</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">.3</a>
                                            </li>
                                            <li class="page-item next">
                                                <a class="page-link" href="#">Next <i class="fa-solid fa-arrow-right"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Pagination -->

                            </div>
                        </div>
                    </div>
                    <!-- /Rent -->

                </div>
            </div>
        </div>
        <!-- /Content -->


        <!-- Search -->
        <div class="search-popup js-search-popup ">
            <div class="search-popup-bg"></div>
            <a href="javascript:void(0);" class="close-button" id="search-close" aria-label="Close search">
                <i class="fa fa-close"></i>
            </a>
            <div class="popup-inner">
                <div class="inner-container">
                    <form class="search-form" id="search-form" action="rent-property-grid.html">
                        <h4>Search Here</h4>
                        <div class="search-form-box flex">
                            <input type="text" class="search-input" placeholder="Search..." id="search-input" aria-label="Type to search" role="searchbox" autocomplete="off">
                        </div>
                    </form>
                </div>
            </div>
        </div>	
        <!-- /Search -->

    </div>		
    <!-- /Main Wrapper -->

</body>
{% endblock %}

{% block customjs%}


{% endblock %}
