{% extends "student\partials\main.html" %}
{% load static %}

{% block maincontent %}

<h4 class="header-title">Your Profile</h4>
<p class="card-title-desc">Edit your profile.</p>
<div class="card">
    <div class="card-body">
        <form class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Student ID<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Student ID" required/>
                    <div class="valid-feedback">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Student Program<span class="text-danger">*</span></label></label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Student Program" required/>
                    <div class="valid-feedback">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Last Name<span class="text-danger">*</span></label></label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Last Name" required/>
                    <div class="valid-feedback">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">First Name<span class="text-danger">*</span></label></label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="First Name" required/>
                    <div class="valid-feedback">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Middle Name<span class="text-danger">*</span></label></label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Middle Name" required/>
                    <div class="valid-feedback">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Age<span class="text-danger">*</span></label></label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Age" required/>
                    <div class="valid-feedback">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Contact Number<span class="text-danger">*</span></label></label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Contact Number" required/>
                    <div class="valid-feedback">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Email Address<span class="text-danger">*</span></label></label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Email Address" required/>
                    <div class="valid-feedback">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3"></div>
                    <button class="col-md-12 mb-3 btn btn-primary" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}