{% extends "student\partials\main.html" %}
{% load static %}

{% block customcss %}
<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" rel="stylesheet">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
{% endblock %}

{% block maincontent %}
<h4 class="header-title">Your Tickets</h4>
<p class="card-title-desc">Here are the list of your Submitted Tickets</p>
<button type="button" class="btn btn-primary waves-effect waves-light">Create New Ticket</button>
</div>

<div class="card-body">
        <table id="example" class="display row-border table-bordered hover responsive nowrap" style="width: 100%;">
            <thead>
                <tr>
                <th>Ticket ID</th>
                <th>Ticket Type</th>
                <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>873b3832-4ead-11ee-be56-0242ac120002</td>
                    <td>Student ID</td>
                    <td><span class="badge badge-pill badge-warning">Pending</span></td>
                </tr>
                <tr>
                    <td>8f70bba8-4ead-11ee-be56-0242ac120002</td>
                    <td>Scholarships</td>
                    <td><span class="badge badge-pill badge-danger">Rejected</span></td>
                </tr>  
            </tbody>
        </table>
</div>


{% endblock %}

{% block customjs %}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>

<script>
$(document).ready(function() {
    $('#example').DataTable( {
        responsive: true,
    } );
} );
</script>

<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script>
const notyf = new Notyf();  

// Display an error notification
notyf.error({
    message: 'Welcome to Tickets',
    background: 'blue',
    position: {x:'right',y:'top'},
    duration: 3000
});
</script>

{% endblock %}