{% extends "student/partials/main.html" %}
{% load static%}
{% block customcss %}
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}

{% block maincontent %}
<h2 class="header-title">Health and Medical Support</h2>
<p class="card-title-desc">Supports Students by providing medical services.</p> 
<h3 id="no_Charter" class="text-center"></h3>
<div class="row" id="charter_display">
</div>
{% endblock %}

{% block customjs %}
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/HealthWellness/charters.ajax.js' %}"></script>
{% endblock %} 