{% extends "student/partials/main.html" %}
{% load static%}
{% block customcss %}
<link href="{% static 'assets/libs/flatpickr/flatpickr.min.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/libs/filepond/filepond.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}
{% block maincontent %}
{% include "student/LostAndFound/modal/ItemLost-modal.html" %} 
<h2 class="header-title">You Missing Items</h2>
<p class="card-title-desc">Manage your Lost items.</p>
<div class="col">
    <a href="{% url 'LostAndFound' %}"><button type="button" class="btn btn-primary waves-effect waves-light mb-2">Back</button></a>
    <a href="{% url 'LostAndFound/items/AddItem' %}"><button type="button" class="btn btn-primary waves-effect waves-light mb-2">Add Item Lost</button></a>
</div>
<ul class="nav nav-tabs nav-fill" data-bs-toggle="tabs" role="tablist">
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link active" data-bs-toggle="tab" href="#missing-tab" role="tab" aria-selected="false">
            Missing
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link" data-bs-toggle="tab" href="#claim-tab" role="tab" aria-selected="false">
            Claim Verification
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link" data-bs-toggle="tab" href="#found-tab" role="tab" aria-selected="false">
            Found
        </a>
    </li>
</ul>
<div class="tab-content p-3">
    <div class="tab-pane active" id="missing-tab" role="tabpanel">
        <h2 id="no-missing" class="text-center">No Missing Items.</h2>
        <div class="row" id="missing_display">
        </div>
    </div>
    <div class="tab-pane" id="claim-tab" role="tabpanel">
        <h2 id="no-claim" class="text-center">No Items for Claiming.</h2>
        <div class="row" id="claim_display">
        </div>
    </div>
    <div class="tab-pane" id="found-tab" role="tabpanel">
        <h2 id="no-found" class="text-center">No Founded Items.</h2>
        <div class="row" id="found_display">
        </div>
    </div>
</div>
{% endblock %}

{% block customjs %}
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/chatbot/chatbot.js' %}"></script>
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/libs/filepond/filepond.js' %}"></script>
<script src="{% static 'assets/libs/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/LostAndFound/ItemLost.ajax.js' %}"></script>
{% endblock %}