{% extends "student/partials/main.html" %}
{% load static %}

{% block customcss %}
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}

{% block maincontent %}
<h2 class="header-title">Frequently Asked Questions</h2>
<p class="card-title-desc">These are the most common questions asked by the user.</p>
<h3 class="text-center mb-2" id="no_faq">No FAQ Data.</h3>
<div id="faq" class="accordion">
  
</div>

{% endblock %}

{% block customjs %}
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/FAQ/faq.ajax.js' %}"></script>
{% endblock %} 