{% load static %}

{% block js %}

 <!-- JAVASCRIPT -->
 <script src="{% static 'assets/js/dashboard/jquery.min.js' %}"></script>
 <script src="{% static 'assets/js/dashboard/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'assets/js/dashboard/metisMenu.min.js' %}"></script>
 <script src="{% static 'assets/js/dashboard/simplebar.min.js' %}"></script>
 <script src="{% static 'assets/js/dashboard/waves.min.js' %}"></script>

 <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>

 
 <script src="{% static 'assets/js/dashboard/app.js' %}"></script>

{% endblock %}