{% extends "admin/partials/main.html" %}
{% load static %}

{% block customcss %}
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}

{% block maincontent %}
{% include "admin/Faqs/modal/faqs-modal.html" %} 
<h2 class="header-title">Frequently Asked Questions</h2>
<p class="card-title-desc">These are the most common questions asked by the user.</p>
<button type="button" class="btn btn-primary waves-effect waves-light mb-2" data-bs-toggle="modal" data-bs-target="#AddFAQModal">Add FAQ</button>

<h3 class="text-center mb-2" id="no_faq">No FAQ Data.</h3>
<div id="faq" class="accordion">
  
</div>

{% endblock %}

{% block customjs %}
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/admin/FAQ/faq.ajax.js' %}"></script>
{% endblock %} 