{% extends "admin\partials\main.html" %}
{% load static %}

{% block maincontent %}

<h4 class="header-title">Your Profile</h4>
<p class="card-title-desc">Edit your profile.</p>
<div class="card">
    <div class="card-body">
        <form class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Admin ID<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="validationCustom02" placeholder="Admin ID" readonly/>
                    <div class="invalid-feedback">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Last Name<span class="text-danger">*</span></label></label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Last Name" required/>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">First Name<span class="text-danger">*</span></label></label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="First Name" required/>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Middle Name<span class="text-danger">*</span></label></label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Middle Name" required/>
                    <div class="invalid-feedback">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Contact Number<span class="text-danger">*</span></label></label>
                    <input type="text" class="form-control" id="validationCustom01" minlength="11" maxlength="11" placeholder="Contact Number" required/>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Email Address<span class="text-danger">*</span></label></label>
                    <input type="email" class="form-control" id="validationCustom01" placeholder="Email Address" required/>
                    <div class="invalid-feedback">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3"></div>
                    <button class="col-md-12 mb-3 btn btn-primary" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block customjs %}
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/js/pages/bootstrap-maxlength.js' %}"></script>
<script>$('input#validationCustom01').maxlength({
    alwaysShow: true,
    warningClass: "badge badge-danger",
    limitReachedClass: "badge badge-success",
});</script>
{% endblock %}