{% extends "admin\partials\main.html" %}
{% load static %}
{% block customcss %}
<link href="{% static 'assets/css/pages/filepond.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/css/pages/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/css/pages/notyf.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/responsive.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/buttons.dataTables.min.css' %}">
{% endblock %}

{% block maincontent %}
{% include "admin\StudentCounseling\modal\resources-modal.html" %} 
<h4 class="header-title">PUPQC Success Resources</h4>
<p class="card-title-desc">Resources to help students enhance study skills, time management, and academic success strategies.</p>

<button type="button" class="btn btn-primary waves-effect waves-light mb-2" data-toggle="modal" data-target="#AddSuccessResourcesModal"><i class="fa-solid fa-file-upload"></i> Add Resources</button>

<table id="success-resources-datatable" class="display row-border table-bordered hover responsive nowrap" style="width: 100%;">
    <thead>
        <tr>
            <th class="dt-head-center">File Name</th>
            <th class="dt-head-center">File Type</th>
            <th class="dt-head-center">Action</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>


{% endblock %}

{% block customjs %}
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/js/pages/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/js/pages/filepond.js' %}"></script>
<script src="{% static 'assets/js/pages/notyf.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/admin/StudentCounseling/resources.ajax.js' %}"></script>
{% endblock %} 