{% extends "admin\partials\main.html" %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% block customcss %}

<style>
    .section1{
        margin-top: 50px;
    }
</style>

{% endblock %}

{% block maincontent %}
{% include "admin\GenInfoandServices\modal\addResource-modal.html" %} 

<button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#AddResourceModal">Upload New File</button>

<section class="section1">
    <h4 class="header-title">Student Success Resources</h4>
    <p class="card-title-desc">These are the resources available in the campus for students.</p>
    
    <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead>
        <tr role="row">
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending">Name</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending">Type</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending">Download</th>
        </tr>
        </thead>
        <tbody>
            <tr role="row" class="odd">
                <td class="sorting_1" tabindex="0">Student Guidelines Handbook</td>
                <td>PDF</td>
                <td><button type="button" class="btn btn-primary waves-effect waves-light">Download</button></td>
            </tr>
            <tr role="row" class="even">
                <td class="sorting_1" tabindex="0">Student Course Instructional Material</td>
                <td>PDF</td>
                <td><button type="button" class="btn btn-primary waves-effect waves-light">Download</button></td>
            </tr>
            <tr role="row" class="odd">
                <td class="sorting_1" tabindex="0">Student Success Guide Handbook</td>
                <td>PDF</td>
                <td><button type="button" class="btn btn-primary waves-effect waves-light">Download</button></td>
            </tr>
        </tbody>
    </table>
</section>

{% endblock %}

{% block customjs %}


{% endblock %} 