{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>PUPQC Student Helpdesk</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'assets/css/homepage/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/homepage/tiny-slider.css' %}" rel="stylesheet">
    <link href="{% static 'assets/libs/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/libs/boxicons/boxicons.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'assets/images/smollogo.png' %}" type="image/icon">
    <link href="{% static 'assets/libs/fontawesome-6.4.2/css/all.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/libs/bootstrap-5.3.2/css/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="58">

    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
        <div class="container">
            <a class="navbar-brand logo" href="#">
                <img src="{% static 'assets/images/logo/PUPQC_Helpdesk_Logo.png' %}" alt="logo" class="logo-light" style="max-height: 50px;" />
                <img src="{% static 'assets/images/logo/PUPQC_Helpdesk_Logo.png' %}" alt="logo" class="logo-dark" style="max-height: 50px;" />
                
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbar-navlist">
                    <li class="nav-item">
                        <a href="#home" class="nav-link" id="scrollElement">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#knowledgebase" class="nav-link" id="scrollElement">Knowledge</a>
                    </li>
                    <li class="nav-item">
                        <a href="#services" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="#links" class="nav-link">Links</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}" class="btn btn-danger btn-sm navbar-btn my-lg-0 my-2">Log In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Hero section Start -->
    <section class="hero-3 position-relative align-items-center justify-content-center d-flex overflow-hidden" style="background-image: url({% static 'assets/css/homepage/StudLounge.jpg' %});" id="home">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row position-relative align-items-center justify-content-center">
                <div class="col-lg-8 text-center py-5 px-4 mt-4">
                        <img src="{% static 'assets/images/logo/PUPQC_Helpdesk_Logo.png' %}" alt="logo" class="img-fluid" style="max-height: 250px;" />
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- Hero section End -->

    <!-- Start knowledgebase -->
    <section class="section bg-light" id="knowledgebase">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="text-center">
                        <h3 class="mb-3">Hello PUPian, How can we help?</h3>
                        <p class="text-muted">Search our support center knowledge base</p>
                        <a href="{% url 'main/knowledgebase/browse' %}" class="btn btn-danger">Browse Knowledge</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End knowledgebase -->

    <!-- Start About -->
    <section class="section" id="services">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="text-center mb-5">
                        <h3 class="mb-3">Services offered in PUPQC Student Helpdesk</h3>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="text-center p-4">
                        <div class="icons-xl mb-3">
                            <i class="text-danger fa-solid fa-circle-exclamation"></i>
                        </div>

                        <h5>Knowledgebase</h5>
                        <p class="text-muted">Provides General Information about PUP Quezon City campus.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="text-center p-4">
                        <div class="icons-xl mb-3">
                            <i class="text-danger fa-solid fa-briefcase"></i>
                        </div>

                        <h5>Career Services and Employment</h5>
                        <p class="text-muted">This service guides students to career counseling and job search resources, as well as provides information on available job and internship opportunities.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="text-center p-4">
                        <div class="icons-xl mb-3">
                            <i class="text-danger fa-solid fa-person-circle-question"></i>
                        </div>

                        <h5>Lost and Found Services</h5>
                        <p class="text-muted">Provides a process for reporting and recovering lost items on campus. You can also find your missing items here.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <div class="text-center p-4">
                        <div class="icons-xl mb-3">
                            <i class="text-danger fa-solid fa-comment"></i>
                        </div>

                        <h5>Feedback and Suggestion</h5>
                        <p class="text-muted">This able to send students feedback or suggestion to improve the services of the campus.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="text-center p-4">
                        <div class="icons-xl mb-3">
                            <i class="text-danger fa-solid fa-ticket"></i>
                        </div>

                        <h5>Ticket</h5>
                        <p class="text-muted">Address your concern with the Ticketing System.</p>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end About -->

    <!-- start footer -->
    <footer class="footer bg-dark text-white-50" id="links">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <img src="{% static 'assets/images/logo/PUPQC_Helpdesk_Logo.png' %}" alt="" height="50" />
                    <p>PUPQC Student Helpdesk</p>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="mt-4 mt-lg-0">
                        <h5 class="mb-4 font-18 text-white">Links</h5>
                        <ul class="list-unstyled footer-list-menu">
                            <li><a href="https://www.pup.edu.ph/">Official PUP Website</a></li>
                            <li><a href="https://www.pup.edu.ph/quezoncity/">Quezon City Branch</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/Polytechnic_University_of_the_Philippines_Quezon_City">Wikipedia</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="mt-4 mt-lg-0">
                        <h5 class="mb-4 font-18 text-white">Learn more</h5>
                        <ul class="list-unstyled footer-list-menu">
                            <li><a href="https://www.pup.edu.ph/about/contactus">Contact Us</a></li>
                            <li><a href="https://www.pup.edu.ph/privacy/">Privacy Statement</a></li>
                            <li><a href="https://www.pup.edu.ph/terms/">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="mt-2 mt-lg-0">
                        <h5 class="font-18 text-white">Social</h5>
                        <ul class="list-inline social-icons-list">
                            <li class="list-inline-item">
                                <a href="https://web.facebook.com/ThePUPOfficial"><i class="fa-brands fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/thepupofficial"><i class="fa-brands fa-x-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/school/polytechnic-university-of-the-philippines/"><i class="fa-brands fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </footer>
    <!-- end footer -->


    <script src="{% static 'assets/libs/aos/aos.js' %}"></script>
    <script>AOS.init();</script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'assets/libs/bootstrap-5.3.2/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/fontawesome-6.4.2/js/all.min.js' %}"></script>
    <script src="{% static 'assets/libs/unicons-monochrome-2.0.1/bundle.js' %}"></script>
    <script src="{% static 'assets/js/homepage/app.js' %}"></script>
    <script src="{% static 'assets/js/homepage/tiny-slider.js' %}"></script>
</body>

</html>