{% extends "admin/partials/main.html" %}
{% load static %}
{% block customcss %}
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}
{% block maincontent %}
{% include "admin/StudentGovernment/modal/studgovernment-modal.html" %} 
<h2>Student Government</h2>
<p class="card-title-desc">Join available Clubs and Organization within PUPQC Campus</p>

<button type="button" class="btn btn-primary waves-effect waves-light mb-2" data-bs-toggle="modal" data-bs-target="#AddGovernmentModal">Add Government Organization</button>

<ul class="nav nav-tabs nav-fill" data-bs-toggle="tabs" role="tablist">
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link active" data-bs-toggle="tab" href="#election-tab" role="tab" aria-selected="false">
            Student Elections
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link" data-bs-toggle="tab" href="#membership-tab" role="tab" aria-selected="false">
            Club / Organization Memberships
        </a>
    </li>
</ul>
<div class="tab-content p-3">
    <div class="tab-pane active" id="election-tab" role="tabpanel">
        <h2 class="text-center" id="no_election">There are no available Student Organization Elections.</h2>
        <div class="row" id="election_display">
        </div>
    </div>
    <div class="tab-pane" id="membership-tab" role="tabpanel">
        <h2 class="text-center" id="no_membership">There are no available Club / Organization Membership.</h2>
        <div class="row" id="membership_display">
        </div>
    </div>
</div>
{% endblock %}
{% block customjs %}
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/admin/StudentGovernment/studgovernment.ajax.js' %}"></script>
{% endblock %}
