{% extends "student/partials/main.html" %}
{% load static %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}

{% block maincontent %}
<h2>How to Use Ticket Support?</h2>
<p class="mb-4">In this page, you'll find guidance on how to utilize our Help Desk system tailored specifically for students. Our platform is dedicated to addressing your academic needs, resolving student concerns, and providing guides for the application process. Whether you're seeking assistance with course registration, campus facilities, or navigating the university's application procedures, our helpdesk system is here to support you every step of the way.</p>
<ul class="nav nav-tabs nav-fill" data-bs-toggle="tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a href="#create_ticket" class="nav-link active" data-bs-toggle="tab" aria-selected="true" role="tab">Create a Ticket</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#response_ticket" class="nav-link" data-bs-toggle="tab" aria-selected="true" role="tab">Responding on Ticket</a>
      </li>
    <li class="nav-item" role="presentation">
      <a href="#ticket_status" class="nav-link" data-bs-toggle="tab" aria-selected="false" role="tab">Ticket Status</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#ticket_faq" class="nav-link" data-bs-toggle="tab" aria-selected="false" role="tab">FAQs</a>
    </li>
</ul>
<div class="tab-content p-3">
    <div class="tab-pane active" id="create_ticket" role="tabpanel">
        <h2>Creating a Ticket</h2>
        <div class="alert alert-info" role="alert">
            <h4 class="text-info"><strong>Reminder: User can create 1 Ticket at the time, If the user wants to create another ticket, it needs to close the current Ticket first.</strong></h4>
        </div>
        <h2>1. To create a ticket you need to go first on the <strong>Ticket </strong>page on the navigation bar.</h2>
        <img src="{% static 'assets/images/how-to-use-ticket/create-1.png' %}" class="img-fluid" alt="Responsive image">
        <p><strong>(Navigation bar for Desktop / Laptop)</strong></p>
        <img src="{% static 'assets/images/how-to-use-ticket/create-2.png' %}" class="img-fluid" alt="Responsive image">
        <p><strong>(Navigation bar for Mobile / Tablet)</strong></p>

        <h2 class="mt-5">2. Click the 'Create a Ticket' button as shown below.</h2>
        <img src="{% static 'assets/images/how-to-use-ticket/create-3.png' %}" class="img-fluid" alt="Responsive image">

        <h2 class="mt-5">3. Fill-out the required fields in the form once the form modal appears.</h2>
        <img src="{% static 'assets/images/how-to-use-ticket/create-4.png' %}" class="img-fluid" alt="Responsive image">
        <p class="text-info"><strong>Subject - Specify the main concern about your ticket, Ex. Academic Concerns, Service guide or Campus Assistance.</strong></p>

        <h2 class="mt-5">4. Once you've done, submit the ticket by clicking 'Submit a Ticket' button.</h2>
        <img src="{% static 'assets/images/how-to-use-ticket/create-5.png' %}" class="img-fluid" alt="Responsive image">
        <p class="text-danger"><strong>Warning: This prompt will appear, indicating that your ticket cannot be edited once created.</strong></p>
        <p class="text-info"><strong>To continue, click the 'Submit' Button from the prompt. Your ticket is created and you will proceed to the Ticket Conversation page.</strong></p>
    </div>

    <div class="tab-pane" id="response_ticket" role="tabpanel">
        <h2>Responding to a Ticket</h2>
        <p>(Assuming that your ticket has replied by the Administrator and that status should be 'Replied'.)</p>

        <h2>1. Go to the Ticket Page from the Navigation Bar</h2>
        <img src="{% static 'assets/images/how-to-use-ticket/create-1.png' %}" class="img-fluid" alt="Responsive image">
        <p><strong>(Navigation bar for Desktop / Laptop)</strong></p>
        <img src="{% static 'assets/images/how-to-use-ticket/create-2.png' %}" class="img-fluid" alt="Responsive image">
        <p><strong>(Navigation bar for Mobile / Tablet)</strong></p>

        <h2 class="mt-5">2. Choose a Ticket and click 'View' Button to go in Ticket Conversation page.</h2>
        <img src="{% static 'assets/images/how-to-use-ticket/response-1.png' %}" class="img-fluid" alt="Responsive image">

        <h2 class="mt-5">3. Create your message on the 'Your Response' field.</h2>
        <img src="{% static 'assets/images/how-to-use-ticket/message-2.png' %}" class="img-fluid" alt="Responsive image">
        <p class="text-info">(Optional: You may attach a file for your Ticket message.)</strong></p>

        <h2 class="mt-5">4. Submit the message by clicking the 'Submit' button</h2>
        <img src="{% static 'assets/images/how-to-use-ticket/message-3.png' %}" class="img-fluid" alt="Responsive image">
        <p class="text-info">(Optional: You may attach a file for your Ticket message.)</strong></p>
        <p class="text-danger"><strong>Warning: This prompt will appear, indicating that your message cannot be edited once submitted.</strong></p>
        <p class="text-info"><strong>To continue, click the 'Submit' Button from the prompt. Your message is sent and wait for the Administrator to reply as soon as possible.</strong></p>
    </div>
    <div class="tab-pane" id="ticket_status" role="tabpanel">
        <h2>Ticket Status</h2>
        <p>Below are the various ticket statuses along with their meanings:</p>
        <div class="card mb-3">
          <div class="container">
              <h2 class="header-title">Status Information</h2>
              <div class="card-body">
                  <h4 class><span class="badge bg-success text-success-fg">Open</span> - The User create a ticket and sent a message or create a response to the ticket, waiting for the Administrator to reply.</h4>
                  <h4 class="mt-3"><span class="badge bg-warning text-success-fg">Replied</span> - The Administrator send a response to the ticket, waiting for the User to reply.</h4>
                  <h4 class="mt-3"><span class="badge bg-danger text-success-fg">Closed</span> - The Ticket has been closed and it can't be sent response anymore.</h4>
              </div>
          </div>
      </div>
    </div>
    <div class="tab-pane" id="ticket_faq" role="tabpanel">
        <h2>Frequently Asked Questions</h2>
        <h3 class="text-center mb-2" id="no_faq">No FAQ Data.</h3>
        <div id="faq" class="accordion">
          
        </div>
    </div>
</div>
{% endblock %}
{% block customjs %}
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/Ticket/howtouse.ajax.js' %}"></script>
{% endblock %}