{% extends "student/partials/main.html" %}
{% load static %}
{% block customcss %}
<link href="{% static 'assets/libs/filepond/filepond.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/responsive.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/buttons.dataTables.min.css' %}">
{% endblock %}

{% block maincontent %}
{% include "student/Ticket/modal/ticket-modal.html" %}
<h2 class="header-title">Your Tickets</h2>
<p class="card-title-desc">Submit a ticket for your support concerns.</p>
<div class="alert alert-info" role="alert">You can create 1 ticket at the time,
wait for your previous ticket to be solved / close before you create a new one.</div>
<div class="col">
    <div id="create_button"><a href="{% url 'ticket/howtouse' %}"><button type="button" class="btn btn-success waves-effect waves-light mb-2" >How to Use?</button></a> </div>
</div>
<table id="ticket-datatable" class="table row-border table-bordered hover responsive nowrap" style="width: 100%;">
    <thead>
        <tr>
            <th class="dt-head-center">Ticket Number</th>
            <th class="dt-head-center">Title</th>
            <th class="dt-head-center">Status</th>
            <th class="dt-head-center">Date Submitted</th>
            <th class="dt-head-center">Actions</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
{% endblock %}

{% block customjs %}
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/chatbot/chatbot.js' %}"></script>
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/libs/filepond/filepond.js' %}"></script>
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/pages/bootstrap-maxlength.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/Ticket/ticket.ajax.js' %}"></script>
{% endblock %} 