{% extends "admin\partials\main.html" %}
{% load static %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}

{% block maincontent %}
<h2 class="header-title">Analytics</h2>
<p class="card-title-desc">Take a look of analytics of PUPQC Helpdesk.</p>
    <h2 class="text-center mb-3">Feedback and Suggestions</h2>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4 d-flex justify-content-center">
            <div id="FeedbackVsSuggestion" style="width: 350px;height:350px;"></div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div id="FeedbackChart" style="width: 350px;height:350px;"></div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div id="SuggestionChart" style="width: 350px;height:350px;"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block customjs %}
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/libs/echarts/echarts.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/admin/dashboard.ajax.js' %}"></script>

{% endblock %}