{% extends "admin/partials/main.html" %}
{% load static %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}
{% block maincontent %}
<h2 class="header-title">Your Profile</h2>
<p class="card-title-desc">View your profile.</p>
<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-3">Admin Info</h5>
        <div class="row">
            <h5 class="card-title">Admin Name: <span class="text-muted" id="admin_Name"></span></h5>
            <h5 class="card-title">Contact: <span class="text-muted" id="admin_Contact"></span></h5>
            <h5 class="card-title">Email: <span class="text-muted" id="admin_Email"></span></h5>
            <h5 class="card-title">Gender: <span class="text-muted" id="admin_Gender"></span></h5>
        </div>   
    </div><!-- end card body -->
</div>

{% endblock %}
{% block customjs %}
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/admin/profile.ajax.js' %}"></script>
{% endblock %}