{% extends "admin\partials\main.html" %}

{% block customcss %}

{% endblock %}

{% block maincontent %}
{% include "admin\studentsModal\view-modal.html" %}
<div class="row">
    <h5 class="header-title mb-4">Latest Transaction</h5>
    <div class="d-flex justify-content-center col-12">
    <div class="col-12">

    <div class="table-responsive">
        <table class="table table-vcenter table-mobile-md card-table">
                    <thead>
                        <tr>
                        <th>Name</th>
                        <th>Ticket</th>
                        <th>Status</th>
                        <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td data-label="Name" >
                            <div class="d-flex py-1 align-items-center">
                            <div class="flex-fill">
                                <div class="font-weight-medium">Thatcher Keel</div>
                            </div>
                            </div>
                        </td>
                        <td data-label="Title" >
                            <div>1236129846</div>
                        </td>
                        <td class="text-secondary" data-label="Role" >
                            Pending
                        </td>
                        <td>
                            <div class="btn-list flex-nowrap">
                                <a href="#" class="btn">
                                    View
                                </a>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown">
                                Actions
                                </button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">
                                        Solved
                                     </a>
                                     <a class="dropdown-item" href="#">
                                         Cancelled
                                     </a>
                                </div>
                            </div>
                            </div>
                        </td>
                        </tr>
                        <tr>
                        <td data-label="Name" >
                            <div class="d-flex py-1 align-items-center">
                            <div class="flex-fill">
                                <div class="font-weight-medium">Dyann Escala</div>
                            </div>
                            </div>
                        </td>
                        <td data-label="Title" >
                            <div>934657281927</div>
                        </td>
                        <td class="text-secondary" data-label="Role" >
                            Pending
                        </td>
                        <td>
                            <div class="btn-list flex-nowrap">
                                <a href="#" class="btn">
                                    View
                                </a>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown">
                                Actions
                                </button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">
                                        Solved
                                     </a>
                                     <a class="dropdown-item" href="#">
                                         Cancelled
                                     </a>
                                </div>
                            </div>
                            </div>
                        </td>
                        </tr>
                        <tr>
                        <td data-label="Name" >
                            <div class="d-flex py-1 align-items-center">
                            <div class="flex-fill">
                                <div class="font-weight-medium">Avivah Mugleston</div>
                            </div>
                            </div>
                        </td>
                        <td data-label="Title" >
                            <div>7584h46372mnb</div>
                        </td>
                        <td class="text-secondary" data-label="Role" >
                            Pending
                        </td>
                        <td>
                            <div class="btn-list flex-nowrap">
                                <a href="#" class="btn">
                                    View
                                </a>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown">
                                Actions
                                </button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">
                                        Solved
                                     </a>
                                     <a class="dropdown-item" href="#">
                                         Cancelled
                                     </a>
                                </div>
                            </div>
                            </div>
                        </td>
                        </tr>
                        <tr>
                        <td data-label="Name" >
                            <div class="d-flex py-1 align-items-center">
                            <div class="flex-fill">
                                <div class="font-weight-medium">Arlie Armstead</div>
                            </div>
                            </div>
                        </td>
                        <td data-label="Title" >
                            <div>76u4jhg46s</div>
                        </td>
                        <td class="text-secondary" data-label="Role" >
                            Cancelled
                        </td>
                        <td>
                            <div class="btn-list flex-nowrap">
                            <a href="#" class="btn">
                                View
                            </a>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown">
                                Actions
                                </button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">
                                        Solved
                                     </a>
                                     <a class="dropdown-item" href="#">
                                         Cancelled
                                     </a>
                                </div>
                            </div>
                            </div>
                        </td>
                        </tr>
                        <tr>
                        <td data-label="Name" >
                            <div class="d-flex py-1 align-items-center">
                            <div class="flex-fill">
                                <div class="font-weight-medium">Tessie Curzon</div>
                            </div>
                            </div>
                        </td>
                        <td data-label="Title" >
                            <div>5s4dlk8746</div>
                        </td>
                        <td class="text-secondary" data-label="Role" >
                            Pending
                        </td>
                        <td>
                            <div class="btn-list flex-nowrap">
                                <a href="#" class="btn">
                                    View
                                </a>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown">
                                Actions
                                </button>
                                <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">
                                   Solved
                                </a>
                                <a class="dropdown-item" href="#">
                                    Cancelled
                                </a>
                                </div>
                            </div>
                            </div>
                        </td>
                        </tr>
                    </tbody>
                </div>
                    </table>
                
    </div>
</div>
</div>
</div>
</div>


{% endblock %}

{% block customjs %}


{% endblock %}