{% extends "admin\partials\main.html" %}
{% load static%}
{% block customcss %}
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}

{% block maincontent %}
{% include "admin\HealthWellness\modal\insurance-modal.html" %} 
<h2 class="header-title">Health Insurance</h2>
<p class="card-title-desc">Information on health insurance options and coverage.</p>
<button type="button" class="btn btn-primary waves-effect waves-light mb-2" data-bs-toggle="modal" data-bs-target="#AddHealthInsuranceModal">Add Health Insurance</button>
<h3 id="no_HealthInsurance" class="text-center">There are no Health Insurance Data.</h3>
<div class="row" id="healthinsurance_display">
</div>
{% endblock %}

{% block customjs %}
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/admin/HealthWellness/insurance.ajax.js' %}"></script>
{% endblock %} 