{% extends "student\partials\main.html" %}
{% load static %}
{% block maincontent %}
<link href="{% static 'assets/css/healthServices/healthWellness.css' %}" rel="stylesheet">
<h4 class="header-title">Health and Wellness Support</h4>
<p class="card-title-desc">Join wellness events to stay healthy and active.</p>
   <div class="container">
    
    <div class="box">
      <div class="icon">01</div>
      <div class="content"><h3>Health Services Referrals</h3>
        <p>lorem ipsum dolor</p>
        <a href="{% url 'healthServices' %}">View</a>
      </div>
    </div>

    <div class="box">
      <div class="icon">02</div>
      <div class="content"><h3>Health Insurance Information</h3>
        <p>lorem ipsum dolor</p>
        <a href="#">View</a>
      </div>
    </div>
</div>

    <footer>
        <!-- Footer content -->
    </footer>
{% endblock %}


