{% extends "admin\partials\main.html" %}
{% load static %}
{% block customcss %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
<link href="{% static 'assets/css/pages/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/css/pages/notyf.min.css' %}">
{% endblock %}
{% block maincontent %}
{% include "admin\GenInfoandServices\modal\events-modal.html" %}
<h4 class="header-title">PUPQC Events</h4>
<p class="card-title-desc">What's happening now in PUPQC Campus?</p>
<button type="button" class="btn btn-primary waves-effect waves-light mb-2" data-toggle="modal" data-target="#AddEventModal"><i class="fa-regular fa-calendar-plus"></i> Add Event</button>
<ul class="nav nav-pills nav-justified" role="tablist">
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link active" data-toggle="tab" href="#ongoing-justify" role="tab" aria-selected="false">
            <i class="fa-solid fa-calendar-check"></i> <span class="d-none d-md-inline-block">Ongoing</span> 
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link" data-toggle="tab" href="#upcoming-justify" role="tab" aria-selected="false">
            <i class="fa-solid fa-calendar-week"></i> <span class="d-none d-md-inline-block">Upcoming</span> 
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link" data-toggle="tab" href="#ended-justify" role="tab" aria-selected="false">
            <i class="fa-solid fa-calendar-xmark"></i> <span class="d-none d-md-inline-block">Ended</span> 
        </a>
    </li>
</ul>
</div>
</div>
<div class="tab-content p-3">
    <div class="tab-pane active" id="ongoing-justify" role="tabpanel">
        <h2 class="text-center" id="no_ongoing">There are no ongoing events.</h2>
        <div class="row" id="ongoing_event_display">
        </div>
    </div>
    <div class="tab-pane" id="upcoming-justify" role="tabpanel">
        <h2 class="text-center" id="no_upcoming">There are no upcoming Events.</h2>
        <div class="row" id="upcoming_event_display">
        </div>
    </div>
    <div class="tab-pane" id="ended-justify" role="tabpanel">
        <h2 class="text-center" id="no_ended">There are no ended Events.</h2>
        <div class="row" id="ended_event_display">
        </div>
    </div>
</div>
{% endblock %}
{% block customjs %}
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/js/pages/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/js/django-essentials/csrftoken.init.js' %}"></script>
<script src="{% static 'assets/js/pages/flatpickr.js' %}"></script>
<script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="{% static 'assets/js/pages/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/admin/GenInfoandServices/events.ajax.js' %}"></script>
{% endblock %}
