{% extends "admin\partials\main.html" %}
{% load static %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'assets/css/pages/glightbox.min.css' %}" />
<link href="{% static 'assets/css/pages/filepond.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/css/pages/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/css/pages/notyf.min.css' %}">
{% endblock%}
{% block maincontent %}
{% include "admin\GenInfoandServices\modal\facilities-modal.html" %} 
<h4 class="header-title">PUPQC Facilities</h4>
<p class="card-title-desc">These are the facilities in the campus.</p>

<button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#AddFacilitiesModal"><i class="fa-solid fa-plus"></i> Add New Facility</button>

<h3 id="no_Display" class="text-center"></h3>
<div class="row container-grid projects-wrapper" id="facility_Display">

</div>


{% endblock %}

{% block customjs %}
<script src="{% static 'assets/js/pages/glightbox.min.js' %}"></script>
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/js/pages/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/js/pages/filepond.js' %}"></script>
<script src="{% static 'assets/js/pages/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/admin/GenInfoandServices/facilities.ajax.js' %}"></script>
{% endblock %}
