{% extends "admin\partials\main.html" %}

{% block customcss %}

{% endblock %}

{% block maincontent %}

<h4 class="header-title">PUPQC Referrals</h4>
<p class="card-title-desc">These are the referrals offered in the campus.</p>
{% include "admin\GenInfoandServices\modal\referrals-modal.html" %} 

<button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#AddReferralsModal">Add New Referral</button>


{% endblock %}

{% block customjs %}

{% endblock %} 