{% extends "admin\partials\main.html" %}

{% block customcss %}

{% endblock %}

{% block maincontent %}

<h4 class="header-title">PUPQC Referrals</h4>
<p class="card-title-desc">These are the referrals offered in the campus.</p>
{% include "admin\GenInfoandServices\modal\referrals-modal.html" %} 

<button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#AddReferralsModal">Add New Referral</button>


<div class="card">
    <div class="card-body">
        <div class="col-xxl-4">
            <div class="card border card-border-light">
                <div class="card-header">
                    <h6 class="card-title mb-0">Referral 1</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">This is the referral description.</p>
                    <div class="text-end">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xxl-4">
            <div class="card border card-border-light">
                <div class="card-header">
                    <h6 class="card-title mb-0">Referral 2</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">This is the referral description.</p>
                    <div class="text-end">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xxl-4">
            <div class="card border card-border-light">
                <div class="card-header">
                    <h6 class="card-title mb-0">Referral 3</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">This is the referral description.</p>
                    <div class="text-end">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}

{% block customjs %}

{% endblock %} 