{% extends "student/partials/main.html" %}
{% load static %}
{% block customcss %}
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}

{% block maincontent %}
{% include "student/StudentCounseling/modal/counseling-modal.html" %} 
<h2 class="header-title">Counseling Service</h2>
<p class="card-title-desc">Connects students with professional counselors for mental health and emotional support.</p>
<h3 id="no_Counselor" class="text-center">No Counselor Data.</h3>
<div class="row" id="counselor_display">
</div>
{% endblock %}

{% block customjs %}
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/chatbot/chatbot.js' %}"></script>
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/StudentCounseling/counseling.ajax.js' %}"></script>
{% endblock %} 