{% extends "student\partials\main.html" %}

{% block maincontent %}
<h4 class="header-title">Student Success Resources</h4>
<p class="card-title-desc">These are the resources available in the campus for students.</p>

<table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
    <thead>
    <tr role="row">
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending">Name</th>
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending">Type</th>
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending">Download</th>
    </tr>
    </thead>
    <tbody>
        <tr role="row" class="odd">
            <td class="sorting_1" tabindex="0">Student Success Guide Handbook</td>
            <td>PDF</td>
            <td>
                {% if file %}
                <a href="{{file.pdf.url}}" class="btn">View File</a>
            {% else %}
            <span class="text-muted">No File</span>
            {% endif %}
            </td>
            <td>
                {% if file %}
                <a href="{{file.url}}" download="{{file.name}}" type="button" class="btn btn-primary waves-effect waves-light">Download</a>
            {% else %}

            <span class="text-muted">No File</span>
            {% endif %}

            </td>
        </tr>

        <tr role="row" class="even">
            <td class="sorting_1" tabindex="0">Student Course Instructional Material</td>
            <td>PDF</td>
            <td>
                {% if file %}
                <a href="{{file.pdf.url}}" class="btn">View File</a>
            {% else %}
            <span class="text-muted">No File</span>
            {% endif %}
            </td>
            <td>
                {% if file %}
                <a href="{{file.url}}" download="{{file.name}}" type="button" class="btn btn-primary waves-effect waves-light">Download</a>
            {% else %}

            <span class="text-muted">No File</span>
            {% endif %}

            </td>
        </tr>

        <tr role="row" class="odd">
            <td class="sorting_1" tabindex="0">Student Guidelines Handbook</td>
            <td>PDF</td>
            <td>
                {% if file %}
                <a href="{{file.pdf.url}}" class="btn">View File</a>
            {% else %}
            <span class="text-muted">No File</span>
            {% endif %}
            </td>
            <td>
                {% if file %}
                <a href="{{file.url}}" download="{{file.name}}" type="button" class="btn btn-primary waves-effect waves-light">Download</a>
            {% else %}

            <span class="text-muted">No File</span>
            {% endif %}

            </td>
        </tr>
    </tbody>
    </tbody>
</table>
{% endblock %}