{% extends "admin/partials/main.html" %}

{% load static %}

{% block customcss %}

<style>
  
  a {
    text-decoration: none !important;
    outline: none;
    color: #D90429;
  }
  
  
  .container2{
    position: relative;
    display: flex;
    padding: 80px 40px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 40px;
  }
  
  .section2 .card{
    position: relative;
    width: 300px;
    height: 230px;
    background: #fff;
    transition: 0.5s;
  }
  
  
  
  .section2 .card .lines{
    position: absolute;
    inset: 0;
    background: #000;
  }
  
  .section2 .card .lines::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  
  
  .section2 .card .lines::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #edf2f4;
  }
  
  .section2 .card .imgBx{
    position: absolute;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    left: 50%;
    top: -90px;
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section2 .card .imgBx::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 150px;
  }
  
  
  .section2 .card .imgBx::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #edf2f4;
  }
  
  .section2 .card .imgBx ion-icon{
    position: absolute;
    width: 100px;
    z-index: 1;
    filter: invert;
    opacity: 0.5;
    transition: 0.5s;
    color: #000;
    font-size: 300px;
  }
  
  .section2 .card:hover .imgBx ion-icon{
    opacity: 1;
  }
  
  .section2 .card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
  }
  
  .section2 .card .content .details{
    padding: 30px;
    text-align: center;
    width: 100%;
    transform: translateY(25px);
  }
  
  
  .section2 .card .content .details h2{
    font-size: 1.5em;
    font-weight: 500;
    color: #0c71e0;
    line-height: 1em;
  }
  
  
  .section2 .card .content .details p{
    color: #000;
    transition: 0.5s;
    line-height: 1.6em;
  }
  
  </style>

{% endblock %}

{% block maincontent %}
<h2 class="header-title">Career Services and Employment</h2>
<p class="card-title-desc">This will guide students to choose their careers.</p> 
<section class="section2" id="services">
  <div class="container2">

  <div class="card">
    <div class="lines"></div>
    <div class="imgBx"><ion-icon name="briefcase-outline"></div>
    <div class="content">
        <div class="details">
            <h2>Career Counseling Referrals</h2>
            <p>Guide to Career Counseling.</p>
            <a href="{% url 'admin/student-careers/Counseling' %}"><button type="button" class="btn btn-primary waves-effect waves-light"><i class="fa-solid fa-refresh"></i>Go to Page</button></a>
        </div>
    </div>
</div>

<div class="card">
  <div class="lines"></div>
  <div class="imgBx"><ion-icon name="briefcase-outline"></div>
  <div class="content">
      <div class="details">
          <h2>Job Search</h2>
          <p>Available Job Search Resources</p>
          <a href="{% url 'admin/student-careers/JobSearch' %}"><button type="button" class="btn btn-primary waves-effect waves-light"><i class="fa-solid fa-refresh"></i>Go to Page</button></a>
      </div>
  </div>
</div>

<div class="card">
  <div class="lines"></div>
  <div class="imgBx"><ion-icon name="briefcase-outline"></div>
  <div class="content">
      <div class="details">
          <h2>Job and Internship Opportunities</h2>
          <p>See available Jobs and Internships.</p>
          <a href="{% url 'admin/student-careers/Referrals' %}"><button type="button" class="btn btn-primary waves-effect waves-light"><i class="fa-solid fa-refresh"></i>Go to Page</button></a>
      </div>
  </div>
</div>

</div>
</section>


  {% endblock %}

{% block customjs %}

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %} 
    