{% extends "admin\partials\main.html" %}

{% load static %}

{% block customcss %}
<link href="{% static 'assets/css/admin/studentCareers/employmentPage.css' %}" rel="stylesheet">
{% endblock %}

{% block maincontent %}
<h4 class="header-title">Careers Services and Employment</h4>
<p class="card-title-desc">Contact Professors for Counseling or View Available Internship Opportunities.</p>
   <div class="container">
    
    <div class="box">
      <div class="icon">01</div>
      <div class="content"><h3>Career Counseling Referrals</h3>
        <p>lorem ipsum dolor</p>
        <a href="{% url 'admin/student-careers/Counseling' %}"  >View</a>
      </div>
    </div>

    <div class="box">
      <div class="icon">02</div>
      <div class="content"><h3>Job Posting and Internship Opportunities</h3>
        <p>lorem ipsum dolor</p>
        <a href="{% url 'admin/student-careers/Referrals' %}"  >View</a>
      </div>
    </div>
    
  </div>

  {% endblock %}

{% block customjs %}


{% endblock %} 
    
