{% extends "admin/partials/main.html" %}
{% load static%}
{% block customcss %}
<link href="{% static 'assets/libs/filepond/filepond.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}

{% block maincontent %}
{% include "admin/studentCareers/modal/internship-modal.html" %} 
<h2 class="header-title">Internship Opportunities</h2>
<p class="card-title-desc">Find any Internships that you interested.</p>
<div class="col">
    {% comment %} <a href="{% url 'admin/student-careers/Employment' %}"><button type="button" class="btn btn-primary waves-effect waves-light mb-2">Back</button></a> {% endcomment %}
    <a href="{% url 'admin/student-careers/Referrals/AddPosting' %}"><button type="button" class="btn btn-primary waves-effect waves-light mb-2">Add Posting</button></a>
</div>
{% comment %} <ul class="nav nav-tabs nav-fill" data-bs-toggle="tabs" role="tablist">
     <li class="nav-item waves-effect waves-light">
        <a class="nav-link active" data-bs-toggle="tab" href="#jobpost-tab" role="tab" aria-selected="false">
            Job Posts
        </a>
    </li> 

    <li class="nav-item waves-effect waves-light">
        <a class="nav-link" data-bs-toggle="tab" href="#intern-tab" role="tab" aria-selected="false">
            Internship Opportunity
        </a>
    </li>
</ul> {% endcomment %}
<div class="col-md-3 mt-2">
    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Select Category
        </button>
        <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('')">All</a></li>
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('Information Technology')">Information Technology</a></li>
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('Marketing')">Marketing</a></li>
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('Entrepreneurship')">Entrepreneurship</a></li>
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('Public Administration')">Public Administration</a></li>
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('DOMT')">DOMT</a></li>
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('BTLED-ICT')">BTLED-ICT</a></li>
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('Human Resource Management')">Human Resource Management</a></li>
            <li><a class="dropdown-item" href="#" onclick="getJobCategory('BTLED-HE')">BTLED-HE</a></li>
        </ul>
    </div>
</div>

<div class="tab-content p-3">
    {% comment %} <div class="tab-pane active" id="jobpost-tab" role="tabpanel">
        <h2 class="text-center" id="no_job">There are no Job Posts.</h2>
        <div class="row" id="job_post_display">
        </div>
        <h3 class="header-title" id="no_job_archive"></h3>
        <div class="row" id="job_archive_display">
        </div>
    </div> {% endcomment %}
    <div class="tab-pane active" id="intern-tab" role="tabpanel">
        <h2 class="text-center" id="no_intern">There are no Internship Opportunities.</h2>
        <div class="row" id="intern_display">
        </div>
        <h3 class="header-title" id="no_intern_archive"></h3>
        <div class="row" id="intern_archive_display">
        </div>
    </div>
</div>
{% endblock %}

{% block customjs %}
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/js/pages/bootstrap-maxlength.js' %}"></script>
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/libs/filepond/filepond.js' %}"></script>
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/admin/StudentCareers/internship.ajax.js' %}"></script>
{% endblock %} 