{% extends "admin/partials/main.html" %}
{% load static%}
{% block customcss %}
<link href="{% static 'assets/libs/filepond/filepond.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}

{% block maincontent %}
{% include "admin/studentCareers/modal/internship-modal.html" %} 
<h2 class="header-title">Job Posting and Internship Opportunities</h2>
<p class="card-title-desc">Find any Jobs or Internships that you interested.</p>
<div class="col">
    <a href="{% url 'admin/student-careers/Employment' %}"><button type="button" class="btn btn-primary waves-effect waves-light mb-2">Back</button></a>
    <a href="{% url 'admin/student-careers/Referrals/AddPosting' %}"><button type="button" class="btn btn-primary waves-effect waves-light mb-2">Add Posting</button></a>
</div>
<ul class="nav nav-tabs nav-fill" data-bs-toggle="tabs" role="tablist">
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link active" data-bs-toggle="tab" href="#jobpost-tab" role="tab" aria-selected="false">
            Job Posts
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link" data-bs-toggle="tab" href="#intern-tab" role="tab" aria-selected="false">
            Internship Opportunity
        </a>
    </li>
</ul>
<div class="col-md-3 mt-2">
    <label>Category<span class="text-danger">*</span></label>
    <select class="form-select" id="job_category" onchange="getJobCategory(this.value)" required>
        <option value="getJobPosts()">All</option>
        <option value="Information Technology">Information Technology</option>
        <option value="Marketing">Marketing</option>
        <option value="Entrepreneurship">Entrepreneurship</option>
        <option value="Public Administration">Public Administration</option>
        <option value="DOMT">DOMT</option>
        <option value="BTLED-ICT">BTLED-ICT</option>
        <option value="HRM">Human Resource Management</option>
        <option value="BTLED-HE">BTLED-HE</option>
    </select>
</div>
<div class="tab-content p-3">
    <div class="tab-pane active" id="jobpost-tab" role="tabpanel">
        <h2 class="text-center" id="no_job">There are no Job Posts.</h2>
        <div class="row" id="job_post_display">
        </div>
        <h3 class="header-title" id="no_job_archive"></h3>
        <div class="row" id="job_archive_display">
        </div>
    </div>
    <div class="tab-pane" id="intern-tab" role="tabpanel">
        <h2 class="text-center" id="no_intern">There are no Internship Opportunities.</h2>
        <div class="row" id="intern_display">
        </div>
        <h3 class="header-title" id="no_intern_archive"></h3>
        <div class="row" id="intern_archive_display">
        </div>
    </div>
</div>
{% endblock %}

{% block customjs %}
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/js/pages/bootstrap-maxlength.js' %}"></script>
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/libs/filepond/filepond.js' %}"></script>
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/admin/StudentCareers/internship.ajax.js' %}"></script>
{% endblock %} 