{% extends "admin/partials/main.html" %}
{% load static %}
{% block customcss %}
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}
{% block maincontent %}
{% include "admin/studentCareers/modal/jobsearch-modal.html" %} 
<h2 class="header-title">Job Search Resources</h2>
<p class="card-title-desc">This are the available Job Search Resources for your Career</p>
<div class="col">
    <a href="{% url 'admin/student-careers/Employment' %}"><button type="button" class="btn btn-primary waves-effect waves-light">Back</button></a>
    <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#AddJobSearchModal"><i class="fa-solid fa-plus"></i> Add Job Search Resources</button>
</div>
<h3 id="no_JobSearch" class="text-center">No Job Search Resources Data.</h3>
<div class="row" id="jobsearch_display">
</div>
{% endblock %}
{% block customjs %}
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/admin/StudentCareers/jobsearch.ajax.js' %}"></script>
{% endblock %} 