{% extends "admin\partials\main.html" %}

{% block customcss %}

{% endblock %}

{% block maincontent %}

<body>
    <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#AddCounselorModal"><i class="fa-solid fa-plus"></i> Add Referral</button>

    <div class="container mt-5">
        <h2 class="mb-4">Services and Employment</h2>
    
        <!-- Career Counseling Referrals -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Career Counseling Referrals</h5>
                <p class="card-text">
                    Guides students to career counseling and job search resources. Our experienced counselors are here
                    to assist you in shaping your future. Take the first step towards a fulfilling career by seeking
                    personalized advice.
                </p>
    
                <!-- Display career counseling referrals from PostGreSQL -->
                {% for referral in career_counseling_referrals %}
                    <div class="media mt-3">
                        <div class="media-body">
                            <h6 class="mt-0">{{ referral.title }}</h6>
                            <p>{{ referral.description }}</p>
                            <!-- Continue Here -->
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    
    </div>
    
    
</body>





{% endblock %}

{% block customjs %}


{% endblock %} 