{% load static %}
{% include "student/partials/opening.html" %}
{% include "student/partials/pagecss.html" %}
{% block customcss %} <!--imported css-->
{% endblock %}
{% include "student/partials/header.html" %}
{% include "student/partials/navbar.html" %}
{% include "student/partials/pagetitle.html" %}
{% include "student/partials/opencontent.html" %}
{% block maincontent %} <!--Page Content-->
{% endblock %}
{% include "student/partials/closecontent.html" %}
{% include "student/partials/footer.html" %}
{% include "student/partials/pagejs.html" %}
{% block customjs %} <!--imported scripts-->
{% endblock %}
{% include "student/partials/closing.html" %}
