{% load static %}
<!-- Links Bootstraps -->
    <link rel="stylesheet" href="{% static 'assets/css/dashboard/tabler.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/css/dashboard/tabler-flags.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/dashboard/tabler-vendors.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/dashboard/tabler-payments.min.css' %}" rel="stylesheet" type="text/css">
</head>