{% extends "student/partials/main.html" %}
{% load static %}

{% block customcss %}
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/responsive.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/buttons.dataTables.min.css' %}">
{% endblock %}

{% block maincontent %}
{% include "student/Feedback/modal/feedback-modal.html" %}
    <h2 class="header-title">Give us a Feedback or Suggestions!</h2>
    <p class="card-title-desc">To improved our Helpdesk system, you can give us a feedback or suggestions.</p>
    <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#FeedbackModal"><i class="fa-solid fa-star"></i> Submit a Feedback</button>
    <div class="text-center mt-4 mb-4">
        <h2>You have Submitted <span class="text-primary" id="feedback_count">0</span> Feedback/s and <span class="text-primary" id="suggestion_count">0</span> Suggestion/s</h2>
    </div>
    <div class="alert alert-info">
        <h3>Submit a Feedback for improving the quality of non-technical support services and Submit a Suggestion for enhancing of non-technical support offerings.</h3>
    </div>
    <table id="feedback-datatable" class="table row-border table-bordered hover responsive nowrap" style="width: 100%;">
        <thead>
            <tr>
                <th class="dt-head-center">Feedback Type</th>
                <th class="dt-head-center">Feedback Date Submitted</th>
                <th class="dt-head-center">Status</th>
                <th class="dt-head-center">Action</th>
            </tr>
        </thead>
        <tbody>
    
        </tbody>
    </table>
{% endblock %}

{% block customjs %}
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/chatbot/chatbot.js' %}"></script>
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/Feedback/feedback.ajax.js' %}"></script>
{% endblock %}


