{% extends "student\partials\main.html" %}
{% load static %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}
{% block maincontent %}
{% include "student\GenInfoandServices\modal\events-modal.html" %}
<h2 class="header-title">PUPQC Events</h2>
<p class="card-title-desc">What's happening now in PUPQC Campus?</p>
<ul class="nav nav-tabs nav-fill" data-bs-toggle="tabs" role="tablist">
    <li class="nav-item waves-effect waves-light" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab" href="#ongoing-justify" role="tab" aria-selected="false">
            <i class="fa-solid fa-calendar-check"></i>Ongoing
        </a>
    </li>
    <li class="nav-item waves-effect waves-light" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#upcoming-justify" role="tab" aria-selected="false">
            <i class="fa-solid fa-calendar-week"></i>Upcoming
        </a>
    </li>
    <li class="nav-item waves-effect waves-light" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#ended-justify" role="tab" aria-selected="false">
            <i class="fa-solid fa-calendar-xmark"></i>Ended
        </a>
    </li>
</ul>
</div>
</div>
<div class="tab-content p-3">
    <div class="tab-pane active show" id="ongoing-justify" role="tabpanel">
        <h2 class="text-center" id="no_ongoing">There are no ongoing events.</h2>
        <div class="row" id="ongoing_event_display">
        </div>
    </div>
    <div class="tab-pane" id="upcoming-justify" role="tabpanel">
        <h2 class="text-center" id="no_upcoming">There are no upcoming Events.</h2>
        <div class="row" id="upcoming_event_display">
        </div>
    </div>
    <div class="tab-pane" id="ended-justify" role="tabpanel">
        <h2 class="text-center" id="no_ended">There are no ended Events.</h2>
        <div class="row" id="ended_event_display">
        </div>
    </div>
</div>
{% endblock %}
{% block customjs %}
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/GenInfoandServices/events.ajax.js' %}"></script>
{% endblock %}
