{% extends "student\partials\main.html" %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'assets/css/pages/glightbox.min.css' %}" />
{% endblock%}

{% block maincontent %}

<h4 class="header-title">PUPQC Facilities</h4>
<p class="card-title-desc">These are the facilities in the campus.</p>

<div class="row container-grid projects-wrapper">
    <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="gallery-box mt-4">
            <a class="gallery-popup glightbox" href="{% static 'assets/images/miserior.jpg' %}" data-glightbox="title: Description Right; description: .custom-desc1; descPosition: right;" >
                <img class="gallery-demo-img img-fluid mx-auto" src="{% static 'assets/images/miserior.jpg' %}" alt="image" />
                <div class="gallery-overlay">
                    <div class="overlay-content">
                        <h5 class="overlay-title">Miserior Building</h5>
                        <p class="text-uppercase mb-0">Facilities</p>
                    </div>
                </div>
                <div class="glightbox-desc custom-desc1">
                    <p>
                        Primis pharetra facilisis lorem quis penatibus ad nulla inceptos, dui per tempor taciti aliquet consequat sodales, curae tristique gravida auctor interdum malesuada sagittis.
                        Felis pretium eros ligula natoque ad ante rutrum himenaeos, adipiscing urna mauris porta quam efficitur odio, sagittis morbi tellus nisi molestie mus faucibus.
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="gallery-box mt-4">
            <a class="gallery-popup glightbox" href="{% static 'assets/images/AVR.jpg' %}" data-glightbox="title: Description Right; description: .custom-desc1; descPosition: right;" >
                <img class="gallery-demo-img img-fluid mx-auto" src="{% static 'assets/images/AVR.jpg' %}" alt="image" />
                <div class="gallery-overlay">
                    <div class="overlay-content">
                        <h5 class="overlay-title">Audio Visual Room</h5>
                        <p class="text-uppercase mb-0">Facilities</p>
                    </div>
                </div>
                <div class="glightbox-desc custom-desc1">
                    <p>
                        Primis pharetra facilisis lorem quis penatibus ad nulla inceptos, dui per tempor taciti aliquet consequat sodales, curae tristique gravida auctor interdum malesuada sagittis.
                        Felis pretium eros ligula natoque ad ante rutrum himenaeos, adipiscing urna mauris porta quam efficitur odio, sagittis morbi tellus nisi molestie mus faucibus.
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="gallery-box mt-4">
            <a class="gallery-popup glightbox" href="{% static 'assets/images/ComLab.jpg' %}" data-glightbox="title: Description Right; description: .custom-desc1; descPosition: right;" >
                <img class="gallery-demo-img img-fluid mx-auto" src="{% static 'assets/images/ComLab.jpg' %}" alt="image" />
                <div class="gallery-overlay">
                    <div class="overlay-content">
                        <h5 class="overlay-title">Computer Laboratory</h5>
                        <p class="text-uppercase mb-0">Facilities</p>
                    </div>
                </div>
                <div class="glightbox-desc custom-desc1">
                    <p>
                        Primis pharetra facilisis lorem quis penatibus ad nulla inceptos, dui per tempor taciti aliquet consequat sodales, curae tristique gravida auctor interdum malesuada sagittis.
                        Felis pretium eros ligula natoque ad ante rutrum himenaeos, adipiscing urna mauris porta quam efficitur odio, sagittis morbi tellus nisi molestie mus faucibus.
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="gallery-box mt-4">
            <a class="gallery-popup glightbox" href="{% static 'assets/images/StudLounge.jpg' %}" data-glightbox="title: Description Right; description: .custom-desc2; descPosition: right;" >
                <img class="gallery-demo-img img-fluid mx-auto" src="{% static 'assets/images/StudLounge.jpg' %}" alt="image" />
                <div class="gallery-overlay">
                    <div class="overlay-content">
                        <h5 class="overlay-title">Student Lounge</h5>
                        <p class="text-uppercase mb-0">Facilities</p>
                    </div>
                </div>
                <div class="glightbox-desc custom-desc2">
                    <p>
                        Primis pharetra facilisis lorem quis penatibus ad nulla inceptos, dui per tempor taciti aliquet consequat sodales, curae tristique gravida auctor interdum malesuada sagittis.
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="gallery-box mt-4">
            <a class="gallery-popup glightbox" href="{% static 'assets/images/building.jpg' %}" data-glightbox="title: Description Right; description: .custom-desc1; descPosition: right;" >
                <img class="gallery-demo-img img-fluid mx-auto" src="{% static 'assets/images/building.jpg' %}" alt="image" />
                <div class="gallery-overlay">
                    <div class="overlay-content">
                        <h5 class="overlay-title">School Building</h5>
                        <p class="text-uppercase mb-0">Facilities</p>
                    </div>
                </div>
                <div class="glightbox-desc custom-desc1">
                    <p>
                        Primis pharetra facilisis lorem quis penatibus ad nulla inceptos, dui per tempor taciti aliquet consequat sodales, curae tristique gravida auctor interdum malesuada sagittis.
                        Felis pretium eros ligula natoque ad ante rutrum himenaeos, adipiscing urna mauris porta quam efficitur odio, sagittis morbi tellus nisi molestie mus faucibus.
                    </p>
                </div>
            </a>
        </div>
    </div>

</div>


{% endblock %}

{% block customjs %}
<script src="{% static 'assets/js/pages/glightbox.min.js' %}"></script>

<script>const lightbox = GLightbox({
    touchNavigation: true,
    openEffect: 'zoom',
    closeEffect: 'zoom',
});</script>


{% endblock %}
