{% extends "student\partials\main.html" %}
{% load static %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'assets/css/pages/glightbox.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/pages/notyf.min.css' %}">
{% endblock%}
{% block maincontent %}
<h4 class="header-title">PUPQC Facilities</h4>
<p class="card-title-desc">These are the facilities in the campus.</p>

<h3 id="no_Display" class="text-center"></h3>
<div class="row container-grid projects-wrapper" id="facility_Display">

</div>


{% endblock %}

{% block customjs %}
<script src="{% static 'assets/js/pages/glightbox.min.js' %}"></script>
<script src="{% static 'assets/js/pages/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/GenInfoandServices/facilities.ajax.js' %}"></script>
{% endblock %}
