{% extends "student\partials\main.html" %}
{% load static %}
{% block customcss %}
<link href="{% static 'assets/libs/filepond/filepond.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/responsive.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/dataTables/css/buttons.dataTables.min.css' %}">
{% endblock %}

{% block maincontent %}
<h2 class="header-title">PUPQC Resources</h2>
<p class="card-title-desc">Resources available in the campus.</p>

<button type="button" class="btn btn-primary waves-effect waves-light mb-2" onclick="location.reload()"><i class="fa-solid fa-refresh"></i> Reload</button>

<table id="resources-datatable" class="table row-border table-bordered hover responsive nowrap" style="width: 100%;">
    <thead>
        <tr>
            <th class="dt-head-center">File Name</th>
            <th class="dt-head-center">File Type</th>
            <th class="dt-head-center">Action</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>


{% endblock %}

{% block customjs %}
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/libs/filepond/filepond.js' %}"></script>
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/libs/dataTables/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/GenInfoandServices/resources.ajax.js' %}"></script>
{% endblock %} 