{% extends "student\partials\main.html" %}
{% load static %}
{% block customcss %}
<link href="{% static 'assets/libs/sweetalert/sweetalert2.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'assets/libs/notyf/notyf.min.css' %}">
{% endblock %}
{% block maincontent %}
<h4 class="header-title">Services in PUPQC</h4>
<p class="card-title-desc">These are the Services in the PUPQC Campus.</p>
<button type="button" class="btn btn-primary waves-effect waves-light mb-2" onclick="location.reload()"><i class="fa-solid fa-refresh"></i> Reload</button>
</div>
</div>
<h3 id="no_Display" class="text-center"></h3>
<div class="row" id="service_display">
  
</div>
{% endblock %}
{% block customjs %}
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
<script src="{% static 'assets/js/ajax/student/GenInfoandServices/services.ajax.js' %}"></script>
{% endblock %}